## Import the database from MongoDB

In [3]:
from pymongo import MongoClient
import pandas as pd
from json import loads, dumps

In [4]:
mongo = MongoClient(port=27017)

In [5]:
print(mongo.list_database_names())

['admin', 'autosaurus', 'classDB', 'classroomDB', 'config', 'epa', 'fruits_db', 'gardenDB', 'listings_db', 'local', 'met', 'travelDB', 'uk_food']

In [6]:
listings = mongo['listings_db'].nyc_listings
print(listings)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'listings_db'), 'nyc_listings')

In [7]:
listings_arr = listings.find()
listings_df = pd.DataFrame(listings_arr)
listings_df.head()

,_id,id,listing_url,name,neighborhood_overview,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,...,bathrooms_text,beds,amenities,price,number_of_reviews,first_review,last_review,review_scores_rating,reviews_per_month,bedrooms
0,666db48268a7bdc51a367f80,2595,https://www.airbnb.com/rooms/2595,Rental unit in New York · ★4.68 · Studio · 1 b...,Centrally located in the heart of Manhattan ju...,Midtown,Manhattan,40.75356,-73.98559,Entire rental unit,...,1 bath,1.0,"[Long term stays allowed, Cooking basics, Ethe...",$240.00,49,2009-11-21,2022-06-21,4.68,0.29,NaN
1,666db48268a7bdc51a367f81,5121,https://www.airbnb.com/rooms/5121,Rental unit in Brooklyn · ★4.52 · 1 bedroom · ...,NaN,Bedford-Stuyvesant,Brooklyn,40.68535,-73.95512,Private room in rental unit,...,NaN,1.0,"[Air conditioning, Wifi, Kitchen, Heating]",$66.00,50,2009-05-28,2019-12-02,4.52,0.28,NaN
2,666db48268a7bdc51a367f82,6848,https://www.airbnb.com/rooms/6848,Rental unit in Brooklyn · ★4.58 · 2 bedrooms ·...,NaN,Williamsburg,Brooklyn,40.70935,-73.95342,Entire rental unit,...,1 bath,1.0,"[Cooking basics, Microwave, Extra pillows and ...",$81.00,191,2009-05-25,2023-08-14,4.58,1.08,NaN
3,666db48268a7bdc51a367f83,6990,https://www.airbnb.com/rooms/6990,Rental unit in New York · ★4.88 · 1 bedroom · ...,"Location: Five minutes to Central Park, Museum...",East Harlem,Manhattan,40.78778,-73.94759,Private room in rental unit,...,1 shared bath,1.0,"[Hair dryer, Air conditioning, Fire extinguish...",$70.00,246,2009-10-28,2023-08-14,4.88,1.43,NaN
4,666db48268a7bdc51a367f84,6872,https://www.airbnb.com/rooms/6872,Condo in New York · 1 bedroom · 1 bed · 1 shar...,This sweet Harlem sanctuary is a 10-20 minute ...,East Harlem,Manhattan,40.80107,-73.94255,Private room in condo,...,1 shared bath,1.0,"[Fire extinguisher, Long term stays allowed, H...",$65.00,1,2022-06-05,2022-06-05,5.00,0.05,NaN

## Clean the data

In [8]:
listings_df.dtypes

_id                                     object
id                                       int64
listing_url                             object
name                                    object
neighborhood_overview                   object
neighbourhood_cleansed                  object
neighbourhood_group_cleansed            object
latitude                               float64
longitude                              float64
property_type                           object
room_type                               object
accommodates                             int64
bathrooms_text                          object
beds                                   float64
amenities                               object
price                                   object
number_of_reviews                        int64
first_review                    datetime64[ns]
last_review                     datetime64[ns]
review_scores_rating                   float64
reviews_per_month                      float64
bedrooms                               float64
dtype: object

In [9]:
reduced_listings = listings_df[['name', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed'\
                               ,'latitude','longitude','room_type', 'amenities', 'price'\
                                , 'number_of_reviews', 'review_scores_rating']]
reduced_listings.dtypes

name                             object
neighbourhood_cleansed           object
neighbourhood_group_cleansed     object
latitude                        float64
longitude                       float64
room_type                        object
amenities                        object
price                            object
number_of_reviews                 int64
review_scores_rating            float64
dtype: object

In [10]:
reduced_listings['price'] = reduced_listings['price'].str.replace(",", "")
reduced_listings['price'] = reduced_listings['price'].str.replace("$", "")

reduced_listings['price']

/var/folders/76/jb4rsfs93334vqf862rsx8jh0000gn/T/ipykernel_888/95660149.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_listings['price'] = reduced_listings['price'].str.replace(",", "")
/var/folders/76/jb4rsfs93334vqf862rsx8jh0000gn/T/ipykernel_888/95660149.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_listings['price'] = reduced_listings['price'].str.replace("$", "")

0        240.00
1         66.00
2         81.00
3         70.00
4         65.00
          ...
28127    225.00
28128    101.00
28129    105.00
28130    118.00
28131    285.00
Name: price, Length: 28132, dtype: object

In [11]:
reduced_listings = reduced_listings.astype({
    "price": float
})

reduced_listings.dtypes

name                             object
neighbourhood_cleansed           object
neighbourhood_group_cleansed     object
latitude                        float64
longitude                       float64
room_type                        object
amenities                        object
price                           float64
number_of_reviews                 int64
review_scores_rating            float64
dtype: object

In [12]:
reduced_listings.to_json("data/cleaned_listings.json", orient="records")

## Create DataFrames for each borough

### Manhattan Aggregates

In [13]:
manhattan_listings = reduced_listings[listings_df["neighbourhood_group_cleansed"] == "Manhattan"]

manhattan_listings.head()

,name,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,room_type,amenities,price,number_of_reviews,review_scores_rating
0,Rental unit in New York · ★4.68 · Studio · 1 b...,Midtown,Manhattan,40.75356,-73.98559,Entire home/apt,"[Long term stays allowed, Cooking basics, Ethe...",240.0,49,4.68
3,Rental unit in New York · ★4.88 · 1 bedroom · ...,East Harlem,Manhattan,40.78778,-73.94759,Private room,"[Hair dryer, Air conditioning, Fire extinguish...",70.0,246,4.88
4,Condo in New York · 1 bedroom · 1 bed · 1 shar...,East Harlem,Manhattan,40.80107,-73.94255,Private room,"[Fire extinguisher, Long term stays allowed, H...",65.0,1,5.00
10,Rental unit in New York · ★4.52 · Studio · 1 b...,Hell's Kitchen,Manhattan,40.76724,-73.98664,Entire home/apt,"[Long term stays allowed, Paid washer – In bui...",175.0,58,4.52
11,Rental unit in New York · ★4.39 · 1 bedroom · ...,East Village,Manhattan,40.72296,-73.98383,Private room,"[Long term stays allowed, Cooking basics, Micr...",70.0,315,4.39

In [14]:
# Group by neighborhood, find average price
avg_price_nbhd_manhattan = manhattan_listings.groupby(["neighbourhood_cleansed"])["price"].mean()

avg_price_nbhd_manhattan = avg_price_nbhd_manhattan.round(2).reset_index()

avg_price_nbhd_manhattan["borough"] = "Manhattan"

avg_price_nbhd_manhattan

   neighbourhood_cleansed   price    borough
0       Battery Park City  268.88  Manhattan
1                 Chelsea  290.04  Manhattan
2               Chinatown  210.76  Manhattan
3            Civic Center  288.50  Manhattan
4             East Harlem  158.56  Manhattan
5            East Village  228.85  Manhattan
6      Financial District  315.13  Manhattan
7       Flatiron District  484.31  Manhattan
8                Gramercy  213.86  Manhattan
9       Greenwich Village  262.47  Manhattan
10                 Harlem  152.09  Manhattan
11         Hell's Kitchen  277.36  Manhattan
12                 Inwood   92.26  Manhattan
13               Kips Bay  221.61  Manhattan
14           Little Italy  249.00  Manhattan
15        Lower East Side  230.06  Manhattan
16            Marble Hill   95.86  Manhattan
17                Midtown  367.61  Manhattan
18    Morningside Heights  123.78  Manhattan
19            Murray Hill  303.91  Manhattan
20                   NoHo  391.04  Manhattan
21                 Nolita  235.87  Manhattan
22       Roosevelt Island  145.96  Manhattan
23                   SoHo  373.38  Manhattan
24        Stuyvesant Town  162.18  Manhattan
25       Theater District  490.06  Manhattan
26                Tribeca  464.11  Manhattan
27            Two Bridges  131.03  Manhattan
28        Upper East Side  227.35  Manhattan
29        Upper West Side  240.96  Manhattan
30     Washington Heights  117.74  Manhattan
31           West Village  316.67  Manhattan

In [15]:
#Find room_type freq by neighborhood:

grouped_man = manhattan_listings.groupby(['neighbourhood_cleansed', 'room_type']).size().reset_index(name='count')

roomtype_nbhd_manhattan = grouped_man.pivot(index='neighbourhood_cleansed', columns='room_type', values='count').fillna(0)

roomtype_nbhd_manhattan.head()

room_type               Entire home/apt  Hotel room  Private room  Shared room
neighbourhood_cleansed
Battery Park City                  34.0         0.0           9.0          0.0
Chelsea                           424.0         2.0         122.0          6.0
Chinatown                         128.0         0.0          88.0          1.0
Civic Center                       13.0         0.0           5.0          0.0
East Harlem                       293.0         0.0         240.0         13.0

## Top 15 Amenities: Manhattan

In [16]:
amenities = manhattan_listings[["amenities","neighbourhood_cleansed"]]
df_explode = amenities.explode("amenities")
df_explode.value_counts()[:15]

amenities              neighbourhood_cleansed
Smoke alarm            Harlem                    1319
Kitchen                Harlem                    1282
Wifi                   Harlem                    1267
Essentials             Harlem                    1238
Carbon monoxide alarm  Harlem                    1127
Hangers                Harlem                    1095
Wifi                   Midtown                   1025
Heating                Harlem                    1016
Hot water              Harlem                    1013
Kitchen                Upper East Side           1006
Hair dryer             Harlem                    1003
Smoke alarm            Midtown                    998
Iron                   Harlem                     996
Wifi                   Upper East Side            995
Dishes and silverware  Harlem                     992
Name: count, dtype: int64

### Bronx Aggregates

In [17]:
bronx_listings = reduced_listings[listings_df["neighbourhood_group_cleansed"] == "Bronx"]
bronx_listings.head()

,name,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,room_type,amenities,price,number_of_reviews,review_scores_rating
98,Rental unit in Bronx · ★4.93 · 1 bedroom · 1 b...,Eastchester,Bronx,40.88100,-73.83511,Entire home/apt,"[Long term stays allowed, Hair conditioner co...",114.0,57,4.93
114,Rental unit in Bronx · ★4.56 · 1 bedroom · 1 b...,Kingsbridge,Bronx,40.87069,-73.90113,Entire home/apt,"[Long term stays allowed, Cooking basics, Pets...",90.0,16,4.56
244,Home in Bronx · ★4.47 · 1 bedroom · 1 bed · 1 ...,University Heights,Bronx,40.85981,-73.90630,Private room,"[Hair dryer, Air conditioning, Iron, Heating, ...",45.0,164,4.47
271,Guest suite in Bronx · ★4.68 · 1 bedroom · 2 b...,Allerton,Bronx,40.86502,-73.85496,Entire home/apt,"[Outdoor dining area, Long term stays allowed,...",175.0,346,4.68
332,Guest suite in Riverdale · ★4.74 · 2 bedrooms...,Spuyten Duyvil,Bronx,40.88095,-73.91701,Entire home/apt,"[Outdoor dining area, Long term stays allowed,...",151.0,146,4.74

In [18]:
# Group by neighborhood, find average price
avg_price_nbhd_bronx = bronx_listings.groupby(["neighbourhood_cleansed"])["price"].mean()

avg_price_nbhd_bronx = avg_price_nbhd_bronx.round(2).reset_index()

avg_price_nbhd_bronx["borough"] = "Bronx"

avg_price_nbhd_bronx

   neighbourhood_cleansed   price borough
0                Allerton  101.76   Bronx
1              Baychester   99.20   Bronx
2                 Belmont  104.35   Bronx
3               Bronxdale   72.88   Bronx
4             Castle Hill  123.20   Bronx
5             City Island  182.31   Bronx
6       Claremont Village  111.94   Bronx
7            Clason Point  105.72   Bronx
8              Co-op City   78.60   Bronx
9               Concourse   98.29   Bronx
10      Concourse Village  106.60   Bronx
11           Country Club  161.50   Bronx
12        East Morrisania   98.38   Bronx
13            Eastchester  130.12   Bronx
14               Edenwald   85.06   Bronx
15              Fieldston   92.75   Bronx
16                Fordham   90.41   Bronx
17             Highbridge   87.06   Bronx
18            Hunts Point   56.50   Bronx
19            Kingsbridge   90.30   Bronx
20               Longwood  367.31   Bronx
21                Melrose  109.21   Bronx
22         Morris Heights   82.13   Bronx
23            Morris Park   85.29   Bronx
24             Morrisania   89.22   Bronx
25             Mott Haven  160.78   Bronx
26             Mount Eden  104.00   Bronx
27             Mount Hope   82.93   Bronx
28        North Riverdale  163.33   Bronx
29                Norwood   80.25   Bronx
30              Olinville  213.00   Bronx
31            Parkchester   81.88   Bronx
32             Pelham Bay  131.00   Bronx
33         Pelham Gardens  122.43   Bronx
34            Port Morris  197.67   Bronx
35              Riverdale  142.20   Bronx
36          Schuylerville  108.13   Bronx
37              Soundview  119.70   Bronx
38         Spuyten Duyvil  225.33   Bronx
39            Throgs Neck  150.76   Bronx
40                Tremont   86.18   Bronx
41              Unionport  140.82   Bronx
42     University Heights   92.17   Bronx
43               Van Nest  208.83   Bronx
44              Wakefield  100.49   Bronx
45             West Farms  122.50   Bronx
46     Westchester Square   90.67   Bronx
47         Williamsbridge  104.08   Bronx
48               Woodlawn  131.11   Bronx

In [19]:
#Find room_type freq by neighborhood:
grouped_bronx = bronx_listings.groupby(['neighbourhood_cleansed', 'room_type']).size().reset_index(name='count')

roomtype_nbhd_bronx = grouped_bronx.pivot(index='neighbourhood_cleansed', columns='room_type', values='count').fillna(0)

roomtype_nbhd_bronx.head()

room_type               Entire home/apt  Private room  Shared room
neighbourhood_cleansed
Allerton                           22.0          15.0          0.0
Baychester                         10.0          13.0          2.0
Belmont                            11.0          15.0          0.0
Bronxdale                           6.0           9.0          1.0
Castle Hill                         4.0           1.0          0.0

## Top 15 Amenities: Bronx

### Queens Aggregates

In [20]:
queens_listings = reduced_listings[listings_df["neighbourhood_group_cleansed"] == "Queens"]
queens_listings.head()

,name,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,room_type,amenities,price,number_of_reviews,review_scores_rating
12,Townhouse in Queens · ★4.91 · 1 bedroom · 1 be...,Long Island City,Queens,40.74757,-73.94571,Private room,"[Private backyard – Fully fenced, Coffee, Gard...",165.0,385,4.91
25,Condo in Queens · ★5.0 · 1 bedroom · 1 bed · 1...,Woodside,Queens,40.74884,-73.90536,Private room,"[Air conditioning, Heating, Washer, Dryer, Ele...",65.0,30,5.00
55,Rental unit in Long Island City · ★4.93 · 1 be...,Sunnyside,Queens,40.74523,-73.92318,Entire home/apt,"[Long term stays allowed, Cooking basics, GE s...",78.0,32,4.93
65,Townhouse in Queens · ★4.42 · 5 bedrooms · 10 ...,Ridgewood,Queens,40.70309,-73.89963,Entire home/apt,"[Hair dryer, Air conditioning, Long term stays...",500.0,13,4.42
70,Guesthouse in Queens · ★4.34 · 1 bedroom · 1 b...,Middle Village,Queens,40.71567,-73.87842,Entire home/apt,"[Air conditioning, Heating, Free parking on pr...",130.0,33,4.34

In [21]:
# Group by neighborhood, find average price
avg_price_nbhd_queens = queens_listings.groupby(["neighbourhood_cleansed"])["price"].mean()

avg_price_nbhd_queens = avg_price_nbhd_queens.round(2).reset_index()

avg_price_nbhd_queens["borough"] = "Queens"


avg_price_nbhd_queens

   neighbourhood_cleansed   price borough
0                 Arverne  195.36  Queens
1                 Astoria  112.43  Queens
2             Bay Terrace  152.20  Queens
3                 Bayside  142.55  Queens
4               Bayswater   94.23  Queens
5            Belle Harbor  223.71  Queens
6               Bellerose  128.27  Queens
7            Breezy Point  150.00  Queens
8               Briarwood  121.84  Queens
9         Cambria Heights  126.53  Queens
10          College Point  119.18  Queens
11                 Corona   85.58  Queens
12       Ditmars Steinway  120.78  Queens
13             Douglaston   82.80  Queens
14          East Elmhurst  138.11  Queens
15               Edgemere  186.73  Queens
16               Elmhurst   74.00  Queens
17           Far Rockaway  150.62  Queens
18               Flushing  112.36  Queens
19           Forest Hills  140.26  Queens
20          Fresh Meadows  106.94  Queens
21               Glendale  118.48  Queens
22                 Hollis   97.79  Queens
23             Holliswood  185.50  Queens
24           Howard Beach  167.17  Queens
25        Jackson Heights   99.87  Queens
26                Jamaica  127.36  Queens
27        Jamaica Estates  105.61  Queens
28          Jamaica Hills  131.60  Queens
29            Kew Gardens  121.37  Queens
30      Kew Gardens Hills  146.09  Queens
31              Laurelton  110.44  Queens
32            Little Neck   27.00  Queens
33       Long Island City  255.83  Queens
34                Maspeth  101.86  Queens
35         Middle Village  154.48  Queens
36               Neponsit  295.00  Queens
37             Ozone Park  111.38  Queens
38         Queens Village  153.40  Queens
39              Rego Park  119.41  Queens
40          Richmond Hill  115.17  Queens
41              Ridgewood  121.75  Queens
42         Rockaway Beach  138.47  Queens
43               Rosedale  180.63  Queens
44       South Ozone Park  172.08  Queens
45    Springfield Gardens  133.20  Queens
46             St. Albans  121.76  Queens
47              Sunnyside  100.03  Queens
48             Whitestone  338.07  Queens
49              Woodhaven   97.71  Queens
50               Woodside   72.23  Queens

In [22]:
#Find room_type freq by neighborhood:
grouped_qu = queens_listings.groupby(['neighbourhood_cleansed', 'room_type']).size().reset_index(name='count')

roomtype_nbhd_queens = grouped_qu.pivot(index='neighbourhood_cleansed', columns='room_type', values='count').fillna(0)

roomtype_nbhd_queens.head()

room_type               Entire home/apt  Hotel room  Private room  Shared room
neighbourhood_cleansed
Arverne                            52.0         0.0          28.0          0.0
Astoria                           199.0         0.0         304.0          8.0
Bay Terrace                         3.0         0.0           2.0          0.0
Bayside                            27.0         0.0          12.0          5.0
Bayswater                           5.0         0.0           8.0          0.0

### Brooklyn Aggregates

In [23]:
brooklyn_listings = reduced_listings[listings_df["neighbourhood_group_cleansed"] == "Brooklyn"]
brooklyn_listings.head()

,name,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,room_type,amenities,price,number_of_reviews,review_scores_rating
1,Rental unit in Brooklyn · ★4.52 · 1 bedroom · ...,Bedford-Stuyvesant,Brooklyn,40.685350,-73.955120,Private room,"[Air conditioning, Wifi, Kitchen, Heating]",66.0,50,4.52
2,Rental unit in Brooklyn · ★4.58 · 2 bedrooms ·...,Williamsburg,Brooklyn,40.709350,-73.953420,Entire home/apt,"[Cooking basics, Microwave, Extra pillows and ...",81.0,191,4.58
5,Home in Brooklyn · ★4.88 · 1 bedroom · 2 beds ...,Fort Greene,Brooklyn,40.691940,-73.973890,Private room,"[Outdoor dining area, Long term stays allowed,...",205.0,355,4.88
6,Loft in Brooklyn · ★4.91 · 1 bedroom · 1 bed ·...,Williamsburg,Brooklyn,40.712480,-73.958810,Private room,"[Air conditioning, Iron, Heating, Essentials, ...",95.0,13,4.91
7,Place to stay in Brooklyn · ★4.90 · 1 bed · 1 ...,Williamsburg,Brooklyn,40.718807,-73.956177,Entire home/apt,"[Long term stays allowed, Stainless steel sing...",350.0,12,4.90

In [24]:
# Group by neighborhood, find average price
avg_price_nbhd_brooklyn = brooklyn_listings.groupby(["neighbourhood_cleansed"])["price"].mean()

avg_price_nbhd_brooklyn = avg_price_nbhd_brooklyn.round(2).reset_index()

avg_price_nbhd_brooklyn["borough"] = "Brooklyn"

avg_price_nbhd_brooklyn

       neighbourhood_cleansed   price   borough
0                  Bath Beach  167.14  Brooklyn
1                   Bay Ridge  107.56  Brooklyn
2          Bedford-Stuyvesant  136.80  Brooklyn
3                 Bensonhurst  103.93  Brooklyn
4                Bergen Beach  240.22  Brooklyn
5                 Boerum Hill  230.23  Brooklyn
6                Borough Park   86.62  Brooklyn
7              Brighton Beach  152.70  Brooklyn
8            Brooklyn Heights  207.34  Brooklyn
9                 Brownsville  137.92  Brooklyn
10                   Bushwick  111.88  Brooklyn
11                   Canarsie  161.96  Brooklyn
12            Carroll Gardens  230.37  Brooklyn
13               Clinton Hill  181.76  Brooklyn
14                Cobble Hill  209.98  Brooklyn
15                Columbia St  191.39  Brooklyn
16               Coney Island  117.53  Brooklyn
17              Crown Heights  153.11  Brooklyn
18              Cypress Hills  101.70  Brooklyn
19                      DUMBO  303.05  Brooklyn
20          Downtown Brooklyn  274.15  Brooklyn
21              Dyker Heights  100.56  Brooklyn
22              East Flatbush  129.65  Brooklyn
23              East New York  133.40  Brooklyn
24                   Flatbush  142.78  Brooklyn
25                  Flatlands  109.21  Brooklyn
26                Fort Greene  213.06  Brooklyn
27              Fort Hamilton  114.87  Brooklyn
28            Gerritsen Beach  140.25  Brooklyn
29                    Gowanus  228.01  Brooklyn
30                  Gravesend  112.46  Brooklyn
31                 Greenpoint  213.49  Brooklyn
32                 Kensington  131.67  Brooklyn
33            Manhattan Beach  168.38  Brooklyn
34                    Midwood  101.17  Brooklyn
35                 Mill Basin  185.33  Brooklyn
36                  Navy Yard  102.00  Brooklyn
37                 Park Slope  240.68  Brooklyn
38           Prospect Heights  210.05  Brooklyn
39  Prospect-Lefferts Gardens  131.93  Brooklyn
40                   Red Hook  180.51  Brooklyn
41                   Sea Gate  197.58  Brooklyn
42             Sheepshead Bay  128.01  Brooklyn
43                South Slope  184.32  Brooklyn
44                Sunset Park  129.35  Brooklyn
45               Vinegar Hill  219.12  Brooklyn
46               Williamsburg  170.48  Brooklyn
47            Windsor Terrace  162.06  Brooklyn

In [25]:
#Find room_type freq by neighborhood:
grouped_bro = brooklyn_listings.groupby(['neighbourhood_cleansed', 'room_type']).size().reset_index(name='count')

roomtype_nbhd_brooklyn = grouped_qu.pivot(index='neighbourhood_cleansed', columns='room_type', values='count').fillna(0)

roomtype_nbhd_brooklyn.head()

room_type               Entire home/apt  Hotel room  Private room  Shared room
neighbourhood_cleansed
Arverne                            52.0         0.0          28.0          0.0
Astoria                           199.0         0.0         304.0          8.0
Bay Terrace                         3.0         0.0           2.0          0.0
Bayside                            27.0         0.0          12.0          5.0
Bayswater                           5.0         0.0           8.0          0.0

### Staten Island Aggregates

In [31]:
staten_island_listings = reduced_listings[listings_df["neighbourhood_group_cleansed"] == "Staten Island"]
staten_island_listings.tail()

,name,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,room_type,amenities,price,number_of_reviews,review_scores_rating
27232,Home in Staten Island · ★4.82 · 2 bedrooms · 4...,Castleton Corners,Staten Island,40.625570,-74.130790,Private room,"[Outdoor dining area, Long term stays allowed,...",282.0,10,4.82
27236,Rental unit in Staten Island · 1 bedroom · 1 b...,Arrochar,Staten Island,40.597949,-74.081085,Entire home/apt,"[Fire extinguisher, Air conditioning, Outdoor ...",100.0,1,5.00
27424,Home in Staten Island · ★4.67 · 1 bedroom · 1 ...,Mariners Harbor,Staten Island,40.631306,-74.159724,Private room,"[Long term stays allowed, Backyard, Cooking ba...",95.0,6,4.67
27482,Home in Staten Island · 2 bedrooms · 2 beds · ...,"Bay Terrace, Staten Island",Staten Island,40.563230,-74.144842,Entire home/apt,"[Long term stays allowed, Cooking basics, Pets...",171.0,1,5.00
27642,Rental unit in Staten Island · ★4.33 · 2 bedro...,St. George,Staten Island,40.642550,-74.083744,Entire home/apt,"[Air conditioning, Lockbox, Wifi, Self check-i...",95.0,6,4.33

In [27]:
# Group by neighborhood, find average price
avg_price_nbhd_staten_island = staten_island_listings.groupby(["neighbourhood_cleansed"])["price"].mean()

avg_price_nbhd_staten_island = avg_price_nbhd_staten_island.round(2).reset_index()

avg_price_nbhd_staten_island["borough"] = "Staten Island"

avg_price_nbhd_staten_island

        neighbourhood_cleansed   price        borough
0                Arden Heights  140.50  Staten Island
1                     Arrochar  128.09  Staten Island
2   Bay Terrace, Staten Island  171.00  Staten Island
3                  Bull's Head  118.86  Staten Island
4            Castleton Corners  160.80  Staten Island
5       Chelsea, Staten Island   70.00  Staten Island
6                      Clifton  139.50  Staten Island
7                      Concord  108.71  Staten Island
8                 Dongan Hills  142.50  Staten Island
9                  Eltingville  131.67  Staten Island
10                Emerson Hill  126.00  Staten Island
11                Graniteville   77.00  Staten Island
12                  Grant City   63.62  Staten Island
13                 Great Kills  101.50  Staten Island
14                 Grymes Hill  200.00  Staten Island
15                Howland Hook  173.00  Staten Island
16                    Huguenot   90.00  Staten Island
17             Lighthouse Hill  250.00  Staten Island
18             Mariners Harbor   94.45  Staten Island
19               Midland Beach  152.43  Staten Island
20                New Brighton   95.00  Staten Island
21              New Dorp Beach  108.86  Staten Island
22             New Springville  176.00  Staten Island
23                     Oakwood  124.00  Staten Island
24               Port Richmond   77.50  Staten Island
25                Prince's Bay  115.33  Staten Island
26               Randall Manor   95.00  Staten Island
27                Richmondtown   84.00  Staten Island
28                    Rosebank  106.83  Staten Island
29                   Rossville  172.50  Staten Island
30                 Shore Acres  121.40  Staten Island
31                 Silver Lake  104.00  Staten Island
32                 South Beach   80.67  Staten Island
33                  St. George  128.97  Staten Island
34                   Stapleton  149.43  Staten Island
35                   Todt Hill  345.00  Staten Island
36               Tompkinsville  137.34  Staten Island
37                 Tottenville  282.50  Staten Island
38               West Brighton   75.90  Staten Island
39                 Westerleigh  153.00  Staten Island
40                 Willowbrook  175.00  Staten Island
41                     Woodrow  143.75  Staten Island

In [28]:
#Find room_type freq by neighborhood:
grouped_sti = staten_island_listings.groupby(['neighbourhood_cleansed', 'room_type']).size().reset_index(name='count')

roomtype_nbhd_statenisland = grouped_sti.pivot(index='neighbourhood_cleansed', columns='room_type', values='count').fillna(0)

roomtype_nbhd_statenisland.head()

room_type                   Entire home/apt  Private room  Shared room
neighbourhood_cleansed
Arden Heights                           4.0           0.0          0.0
Arrochar                                8.0           3.0          0.0
Bay Terrace, Staten Island              1.0           0.0          0.0
Bull's Head                             3.0           4.0          0.0
Castleton Corners                       4.0           1.0          0.0

## Combine all aggregates and export files

In [29]:
# Concatenate all average price by neighborhood
avg_price_nbhd_all = pd.concat([avg_price_nbhd_bronx,avg_price_nbhd_brooklyn,avg_price_nbhd_manhattan,avg_price_nbhd_queens,avg_price_nbhd_staten_island], axis=0)

# Reset index to save neighborhood name
avg_price_nbhd_all = avg_price_nbhd_all.rename(columns={"neighbourhood_cleansed": "neighbourhood"})

avg_price_nbhd_all.to_json("data/avg_price_nbhd_all.json", orient="records")

avg_price_nbhd_all

    neighbourhood   price        borough
0        Allerton  101.76          Bronx
1      Baychester   99.20          Bronx
2         Belmont  104.35          Bronx
3       Bronxdale   72.88          Bronx
4     Castle Hill  123.20          Bronx
..            ...     ...            ...
37    Tottenville  282.50  Staten Island
38  West Brighton   75.90  Staten Island
39    Westerleigh  153.00  Staten Island
40    Willowbrook  175.00  Staten Island
41        Woodrow  143.75  Staten Island

[222 rows x 3 columns]

## Amenities Aggregates

In [32]:
keywords = ["Wifi", "Kitchen", "Air conditioning", "Backyard", "Pets allowed", "Washer", "Dryer", "Long term stays allowed"]
def explode_and_count(df, keywords):
    
    df_explode = df[["amenities", "neighbourhood_cleansed"]].explode("amenities")
    return df_explode.value_counts()

manhattan_amenities = explode_and_count(manhattan_listings)
bronx_amenities = explode_and_count(bronx_listings)
brooklyn_amenities = explode_and_count(brooklyn_listings)
staten_amenities = explode_and_count(staten_island_listings)

TypeError: explode_and_count() missing 1 required positional argument: 'keywords'

## Ratings Aggregates

In [ ]:
def avgRatings(df): 
    ratings_df = df.groupby(["neighbourhood_cleansed"])["review_scores_rating"].mean()
    return ratings_df

avgrating = avgRatings(bronx_listings)
print(avgrating)

neighbourhood_cleansed
Allerton              4.811081
Baychester            4.632400
Belmont               4.800385
Bronxdale             4.745000
Castle Hill           4.936000
City Island           4.883846
Claremont Village     4.743548
Clason Point          4.830000
Co-op City            4.586000
Concourse             4.584211
Concourse Village     4.798333
Country Club          4.940000
East Morrisania       4.543750
Eastchester           4.886250
Edenwald              4.798235
Fieldston             4.872500
Fordham               4.665490
Highbridge            4.844118
Hunts Point           4.700000
Kingsbridge           4.464603
Longwood              4.684103
Melrose               4.772105
Morris Heights        4.605217
Morris Park           4.907857
Morrisania            4.865556
Mott Haven            4.521231
Mount Eden            4.537500
Mount Hope            4.560000
North Riverdale       4.851111
Norwood               4.596786
Olinville             4.831250
Parkchester           4.760000
Pelham Bay            4.842727
Pelham Gardens        4.824000
Port Morris           4.701429
Riverdale             4.914000
Schuylerville         4.723333
Soundview             4.779000
Spuyten Duyvil        4.650000
Throgs Neck           4.586190
Tremont               4.824706
Unionport             4.610000
University Heights    4.853333
Van Nest              4.720000
Wakefield             4.601594
West Farms            5.000000
Westchester Square    4.865000
Williamsbridge        4.653051
Woodlawn              4.776667
Name: review_scores_rating, dtype: float64