## Import the database from MongoDB

In [1]:
from pymongo import MongoClient
import pandas as pd
from json import loads, dumps

In [2]:
mongo = MongoClient(port=27017)

In [3]:
print(mongo.list_database_names())

['admin', 'autosaurus', 'classDB', 'classroomDB', 'config', 'epa', 'fruits_db', 'gardenDB', 'listings_db', 'local', 'met', 'travelDB', 'uk_food']

In [4]:
listings = mongo['listings_db'].nyc_listings
print(listings)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'listings_db'), 'nyc_listings')

In [5]:
listings_arr = listings.find()
listings_df = pd.DataFrame(listings_arr)
listings_df.head()

,_id,id,listing_url,name,neighborhood_overview,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,...,bathrooms_text,beds,amenities,price,number_of_reviews,first_review,last_review,review_scores_rating,reviews_per_month,bedrooms
0,666db48268a7bdc51a367f80,2595,https://www.airbnb.com/rooms/2595,Rental unit in New York · ★4.68 · Studio · 1 b...,Centrally located in the heart of Manhattan ju...,Midtown,Manhattan,40.75356,-73.98559,Entire rental unit,...,1 bath,1.0,"[Long term stays allowed, Cooking basics, Ethe...",$240.00,49,2009-11-21,2022-06-21,4.68,0.29,NaN
1,666db48268a7bdc51a367f81,5121,https://www.airbnb.com/rooms/5121,Rental unit in Brooklyn · ★4.52 · 1 bedroom · ...,NaN,Bedford-Stuyvesant,Brooklyn,40.68535,-73.95512,Private room in rental unit,...,NaN,1.0,"[Air conditioning, Wifi, Kitchen, Heating]",$66.00,50,2009-05-28,2019-12-02,4.52,0.28,NaN
2,666db48268a7bdc51a367f82,6848,https://www.airbnb.com/rooms/6848,Rental unit in Brooklyn · ★4.58 · 2 bedrooms ·...,NaN,Williamsburg,Brooklyn,40.70935,-73.95342,Entire rental unit,...,1 bath,1.0,"[Cooking basics, Microwave, Extra pillows and ...",$81.00,191,2009-05-25,2023-08-14,4.58,1.08,NaN
3,666db48268a7bdc51a367f83,6990,https://www.airbnb.com/rooms/6990,Rental unit in New York · ★4.88 · 1 bedroom · ...,"Location: Five minutes to Central Park, Museum...",East Harlem,Manhattan,40.78778,-73.94759,Private room in rental unit,...,1 shared bath,1.0,"[Hair dryer, Air conditioning, Fire extinguish...",$70.00,246,2009-10-28,2023-08-14,4.88,1.43,NaN
4,666db48268a7bdc51a367f84,6872,https://www.airbnb.com/rooms/6872,Condo in New York · 1 bedroom · 1 bed · 1 shar...,This sweet Harlem sanctuary is a 10-20 minute ...,East Harlem,Manhattan,40.80107,-73.94255,Private room in condo,...,1 shared bath,1.0,"[Fire extinguisher, Long term stays allowed, H...",$65.00,1,2022-06-05,2022-06-05,5.00,0.05,NaN

## Clean the data

In [6]:
listings_df.dtypes

_id                                     object
id                                       int64
listing_url                             object
name                                    object
neighborhood_overview                   object
neighbourhood_cleansed                  object
neighbourhood_group_cleansed            object
latitude                               float64
longitude                              float64
property_type                           object
room_type                               object
accommodates                             int64
bathrooms_text                          object
beds                                   float64
amenities                               object
price                                   object
number_of_reviews                        int64
first_review                    datetime64[ns]
last_review                     datetime64[ns]
review_scores_rating                   float64
reviews_per_month                      float64
bedrooms                               float64
dtype: object

In [7]:
reduced_listings = listings_df[['name', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed'\
                               ,'latitude','longitude','room_type', 'amenities', 'price'\
                                , 'number_of_reviews', 'review_scores_rating']]
reduced_listings.dtypes

name                             object
neighbourhood_cleansed           object
neighbourhood_group_cleansed     object
latitude                        float64
longitude                       float64
room_type                        object
amenities                        object
price                            object
number_of_reviews                 int64
review_scores_rating            float64
dtype: object

In [8]:
reduced_listings['price'] = reduced_listings['price'].str.replace(",", "")
reduced_listings['price'] = reduced_listings['price'].str.replace("$", "")

reduced_listings['price']

/var/folders/76/jb4rsfs93334vqf862rsx8jh0000gn/T/ipykernel_4079/95660149.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_listings['price'] = reduced_listings['price'].str.replace(",", "")
/var/folders/76/jb4rsfs93334vqf862rsx8jh0000gn/T/ipykernel_4079/95660149.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_listings['price'] = reduced_listings['price'].str.replace("$", "")

0        240.00
1         66.00
2         81.00
3         70.00
4         65.00
          ...
28127    225.00
28128    101.00
28129    105.00
28130    118.00
28131    285.00
Name: price, Length: 28132, dtype: object

In [9]:
reduced_listings = reduced_listings.astype({
    "price": float
})

reduced_listings.dtypes

name                             object
neighbourhood_cleansed           object
neighbourhood_group_cleansed     object
latitude                        float64
longitude                       float64
room_type                        object
amenities                        object
price                           float64
number_of_reviews                 int64
review_scores_rating            float64
dtype: object

In [10]:
reduced_listings.to_json("data/cleaned_listings.json", orient="records")

# Aggregate Functions

In [25]:
boroughs = reduced_listings["neighbourhood_group_cleansed"].unique()
for i in boroughs:
    print(i)

Manhattan
Brooklyn
Queens
Staten Island
Bronx

## Filtering main listings DataFrame by Borough:

In [102]:
def borough_listings(borough): 
    borough_clean = reduced_listings[reduced_listings["neighbourhood_group_cleansed"] == borough]
    return borough_clean

for borough in boroughs: 
    listings = borough_listings(borough)

In [113]:
#Defining listing var outside of for loop for rest of agg funcs: 
listings = borough_listings(borough)

## Group by neighborhood, find average price:

In [109]:
def avg_price_nbhd(borough):
    
    avg_price = listings.groupby(["neighbourhood_cleansed"])["price"].mean()
    avg_price_boro = avg_price.round(2).reset_index() 
    avg_price_boro["borough"]= borough
    return avg_price_boro 

for borough in boroughs: 
    print(avg_price_nbhd(borough))

   neighbourhood_cleansed   price    borough
0                Allerton  101.76  Manhattan
1              Baychester   99.20  Manhattan
2                 Belmont  104.35  Manhattan
3               Bronxdale   72.88  Manhattan
4             Castle Hill  123.20  Manhattan
5             City Island  182.31  Manhattan
6       Claremont Village  111.94  Manhattan
7            Clason Point  105.72  Manhattan
8              Co-op City   78.60  Manhattan
9               Concourse   98.29  Manhattan
10      Concourse Village  106.60  Manhattan
11           Country Club  161.50  Manhattan
12        East Morrisania   98.38  Manhattan
13            Eastchester  130.12  Manhattan
14               Edenwald   85.06  Manhattan
15              Fieldston   92.75  Manhattan
16                Fordham   90.41  Manhattan
17             Highbridge   87.06  Manhattan
18            Hunts Point   56.50  Manhattan
19            Kingsbridge   90.30  Manhattan
20               Longwood  367.31  Manhattan
21                Melrose  109.21  Manhattan
22         Morris Heights   82.13  Manhattan
23            Morris Park   85.29  Manhattan
24             Morrisania   89.22  Manhattan
25             Mott Haven  160.78  Manhattan
26             Mount Eden  104.00  Manhattan
27             Mount Hope   82.93  Manhattan
28        North Riverdale  163.33  Manhattan
29                Norwood   80.25  Manhattan
30              Olinville  213.00  Manhattan
31            Parkchester   81.88  Manhattan
32             Pelham Bay  131.00  Manhattan
33         Pelham Gardens  122.43  Manhattan
34            Port Morris  197.67  Manhattan
35              Riverdale  142.20  Manhattan
36          Schuylerville  108.13  Manhattan
37              Soundview  119.70  Manhattan
38         Spuyten Duyvil  225.33  Manhattan
39            Throgs Neck  150.76  Manhattan
40                Tremont   86.18  Manhattan
41              Unionport  140.82  Manhattan
42     University Heights   92.17  Manhattan
43               Van Nest  208.83  Manhattan
44              Wakefield  100.49  Manhattan
45             West Farms  122.50  Manhattan
46     Westchester Square   90.67  Manhattan
47         Williamsbridge  104.08  Manhattan
48               Woodlawn  131.11  Manhattan
   neighbourhood_cleansed   price   borough
0                Allerton  101.76  Brooklyn
1              Baychester   99.20  Brooklyn
2                 Belmont  104.35  Brooklyn
3               Bronxdale   72.88  Brooklyn
4             Castle Hill  123.20  Brooklyn
5             City Island  182.31  Brooklyn
6       Claremont Village  111.94  Brooklyn
7            Clason Point  105.72  Brooklyn
8              Co-op City   78.60  Brooklyn
9               Concourse   98.29  Brooklyn
10      Concourse Village  106.60  Brooklyn
11           Country Club  161.50  Brooklyn
12        East Morrisania   98.38  Brooklyn
13            Eastchester  130.12  Brooklyn
14               Edenwald   85.06  Brooklyn
15              Fieldston   92.75  Brooklyn
16                Fordham   90.41  Brooklyn
17             Highbridge   87.06  Brooklyn
18            Hunts Point   56.50  Brooklyn
19            Kingsbridge   90.30  Brooklyn
20               Longwood  367.31  Brooklyn
21                Melrose  109.21  Brooklyn
22         Morris Heights   82.13  Brooklyn
23            Morris Park   85.29  Brooklyn
24             Morrisania   89.22  Brooklyn
25             Mott Haven  160.78  Brooklyn
26             Mount Eden  104.00  Brooklyn
27             Mount Hope   82.93  Brooklyn
28        North Riverdale  163.33  Brooklyn
29                Norwood   80.25  Brooklyn
30              Olinville  213.00  Brooklyn
31            Parkchester   81.88  Brooklyn
32             Pelham Bay  131.00  Brooklyn
33         Pelham Gardens  122.43  Brooklyn
34            Port Morris  197.67  Brooklyn
35              Riverdale  142.20  Brooklyn
36          Schuylerville  108.13  Brooklyn
37              Soundview  119.70  Brooklyn
38         Spuyten Duyvil  225.33  Brooklyn
39            Throgs Neck  150.76  Brooklyn
40                Tremont   86.18  Brooklyn
41              Unionport  140.82  Brooklyn
42     University Heights   92.17  Brooklyn
43               Van Nest  208.83  Brooklyn
44              Wakefield  100.49  Brooklyn
45             West Farms  122.50  Brooklyn
46     Westchester Square   90.67  Brooklyn
47         Williamsbridge  104.08  Brooklyn
48               Woodlawn  131.11  Brooklyn
   neighbourhood_cleansed   price borough
0                Allerton  101.76  Queens
1              Baychester   99.20  Queens
2                 Belmont  104.35  Queens
3               Bronxdale   72.88  Queens
4             Castle Hill  123.20  Queens
5             City Island  182.31  Queens
6       Claremont Village  111.94  Queens
7            Clason Point  105.72  Queens
8              Co-op City   78.60  Queens
9               Concourse   98.29  Queens
10      Concourse Village  106.60  Queens
11           Country Club  161.50  Queens
12        East Morrisania   98.38  Queens
13            Eastchester  130.12  Queens
14               Edenwald   85.06  Queens
15              Fieldston   92.75  Queens
16                Fordham   90.41  Queens
17             Highbridge   87.06  Queens
18            Hunts Point   56.50  Queens
19            Kingsbridge   90.30  Queens
20               Longwood  367.31  Queens
21                Melrose  109.21  Queens
22         Morris Heights   82.13  Queens
23            Morris Park   85.29  Queens
24             Morrisania   89.22  Queens
25             Mott Haven  160.78  Queens
26             Mount Eden  104.00  Queens
27             Mount Hope   82.93  Queens
28        North Riverdale  163.33  Queens
29                Norwood   80.25  Queens
30              Olinville  213.00  Queens
31            Parkchester   81.88  Queens
32             Pelham Bay  131.00  Queens
33         Pelham Gardens  122.43  Queens
34            Port Morris  197.67  Queens
35              Riverdale  142.20  Queens
36          Schuylerville  108.13  Queens
37              Soundview  119.70  Queens
38         Spuyten Duyvil  225.33  Queens
39            Throgs Neck  150.76  Queens
40                Tremont   86.18  Queens
41              Unionport  140.82  Queens
42     University Heights   92.17  Queens
43               Van Nest  208.83  Queens
44              Wakefield  100.49  Queens
45             West Farms  122.50  Queens
46     Westchester Square   90.67  Queens
47         Williamsbridge  104.08  Queens
48               Woodlawn  131.11  Queens
   neighbourhood_cleansed   price        borough
0                Allerton  101.76  Staten Island
1              Baychester   99.20  Staten Island
2                 Belmont  104.35  Staten Island
3               Bronxdale   72.88  Staten Island
4             Castle Hill  123.20  Staten Island
5             City Island  182.31  Staten Island
6       Claremont Village  111.94  Staten Island
7            Clason Point  105.72  Staten Island
8              Co-op City   78.60  Staten Island
9               Concourse   98.29  Staten Island
10      Concourse Village  106.60  Staten Island
11           Country Club  161.50  Staten Island
12        East Morrisania   98.38  Staten Island
13            Eastchester  130.12  Staten Island
14               Edenwald   85.06  Staten Island
15              Fieldston   92.75  Staten Island
16                Fordham   90.41  Staten Island
17             Highbridge   87.06  Staten Island
18            Hunts Point   56.50  Staten Island
19            Kingsbridge   90.30  Staten Island
20               Longwood  367.31  Staten Island
21                Melrose  109.21  Staten Island
22         Morris Heights   82.13  Staten Island
23            Morris Park   85.29  Staten Island
24             Morrisania   89.22  Staten Island
25             Mott Haven  160.78  Staten Island
26             Mount Eden  104.00  Staten Island
27             Mount Hope   82.93  Staten Island
28        North Riverdale  163.33  Staten Island
29                Norwood   80.25  Staten Island
30              Olinville  213.00  Staten Island
31            Parkchester   81.88  Staten Island
32             Pelham Bay  131.00  Staten Island
33         Pelham Gardens  122.43  Staten Island
34            Port Morris  197.67  Staten Island
35              Riverdale  142.20  Staten Island
36          Schuylerville  108.13  Staten Island
37              Soundview  119.70  Staten Island
38         Spuyten Duyvil  225.33  Staten Island
39            Throgs Neck  150.76  Staten Island
40                Tremont   86.18  Staten Island
41              Unionport  140.82  Staten Island
42     University Heights   92.17  Staten Island
43               Van Nest  208.83  Staten Island
44              Wakefield  100.49  Staten Island
45             West Farms  122.50  Staten Island
46     Westchester Square   90.67  Staten Island
47         Williamsbridge  104.08  Staten Island
48               Woodlawn  131.11  Staten Island
   neighbourhood_cleansed   price borough
0                Allerton  101.76   Bronx
1              Baychester   99.20   Bronx
2                 Belmont  104.35   Bronx
3               Bronxdale   72.88   Bronx
4             Castle Hill  123.20   Bronx
5             City Island  182.31   Bronx
6       Claremont Village  111.94   Bronx
7            Clason Point  105.72   Bronx
8              Co-op City   78.60   Bronx
9               Concourse   98.29   Bronx
10      Concourse Village  106.60   Bronx
11           Country Club  161.50   Bronx
12        East Morrisania   98.38   Bronx
13            Eastchester  130.12   Bronx
14               Edenwald   85.06   Bronx
15              Fieldston   92.75   Bronx
16                Fordham   90.41   Bronx
17             Highbridge   87.06   Bronx
18            Hunts Point   56.50   Bronx
19            Kingsbridge   90.30   Bronx
20               Longwood  367.31   Bronx
21                Melrose  109.21   Bronx
22         Morris Heights   82.13   Bronx
23            Morris Park   85.29   Bronx
24             Morrisania   89.22   Bronx
25             Mott Haven  160.78   Bronx
26             Mount Eden  104.00   Bronx
27             Mount Hope   82.93   Bronx
28        North Riverdale  163.33   Bronx
29                Norwood   80.25   Bronx
30              Olinville  213.00   Bronx
31            Parkchester   81.88   Bronx
32             Pelham Bay  131.00   Bronx
33         Pelham Gardens  122.43   Bronx
34            Port Morris  197.67   Bronx
35              Riverdale  142.20   Bronx
36          Schuylerville  108.13   Bronx
37              Soundview  119.70   Bronx
38         Spuyten Duyvil  225.33   Bronx
39            Throgs Neck  150.76   Bronx
40                Tremont   86.18   Bronx
41              Unionport  140.82   Bronx
42     University Heights   92.17   Bronx
43               Van Nest  208.83   Bronx
44              Wakefield  100.49   Bronx
45             West Farms  122.50   Bronx
46     Westchester Square   90.67   Bronx
47         Williamsbridge  104.08   Bronx
48               Woodlawn  131.11   Bronx

## Room type count per borough neighborhoods:

In [116]:
def roomtype_cleansed(borough):
    
    listings = borough_listings(borough)
    
    roomtype_grouped = listings.groupby(['neighbourhood_cleansed', 'room_type']).size().reset_index(name='count')
    roomtype_cleaned = roomtype_grouped.pivot(index='neighbourhood_cleansed', columns='room_type', values='count').fillna(0)
    return roomtype_cleaned
    
for borough in boroughs:
    print(roomtype_cleansed(borough))

room_type               Entire home/apt  Hotel room  Private room  Shared room
neighbourhood_cleansed
Battery Park City                  34.0         0.0           9.0          0.0
Chelsea                           424.0         2.0         122.0          6.0
Chinatown                         128.0         0.0          88.0          1.0
Civic Center                       13.0         0.0           5.0          0.0
East Harlem                       293.0         0.0         240.0         13.0
East Village                      524.0         0.0         246.0          6.0
Financial District                175.0         0.0         172.0          6.0
Flatiron District                  35.0         2.0          21.0          0.0
Gramercy                          138.0         0.0          53.0          1.0
Greenwich Village                 125.0         2.0          22.0          0.0
Harlem                            658.0         1.0         724.0         22.0
Hell's Kitchen                    694.0         1.0         318.0         19.0
Inwood                             59.0         0.0          80.0          0.0
Kips Bay                          202.0         0.0          61.0          4.0
Little Italy                       64.0         0.0          21.0          0.0
Lower East Side                   330.0         2.0         142.0          2.0
Marble Hill                         2.0         0.0           5.0          0.0
Midtown                           707.0        23.0         352.0          4.0
Morningside Heights                67.0         0.0          63.0          3.0
Murray Hill                       191.0        11.0          41.0          4.0
NoHo                               19.0         0.0           5.0          0.0
Nolita                            104.0         0.0          29.0          0.0
Roosevelt Island                    5.0         0.0          22.0          1.0
SoHo                              127.0        13.0          43.0          0.0
Stuyvesant Town                    18.0         0.0          10.0          0.0
Theater District                   69.0        20.0          58.0          0.0
Tribeca                            71.0         0.0          28.0          0.0
Two Bridges                        17.0         0.0          18.0          0.0
Upper East Side                   864.0         0.0         164.0         10.0
Upper West Side                   649.0         4.0         296.0          5.0
Washington Heights                170.0         0.0         266.0         11.0
West Village                      312.0        11.0          35.0          1.0
room_type                  Entire home/apt  Hotel room  Private room  \
neighbourhood_cleansed
Bath Beach                            14.0         0.0           8.0
Bay Ridge                             36.0         0.0          61.0
Bedford-Stuyvesant                   976.0         0.0        1046.0
Bensonhurst                           28.0         0.0          13.0
Bergen Beach                           6.0         0.0           3.0
Boerum Hill                           76.0         0.0          17.0
Borough Park                          15.0         0.0          39.0
Brighton Beach                        29.0         0.0          14.0
Brooklyn Heights                      52.0         0.0          13.0
Brownsville                           35.0         0.0          61.0
Bushwick                             417.0         0.0         689.0
Canarsie                              94.0         0.0         106.0
Carroll Gardens                      101.0         0.0          30.0
Clinton Hill                         182.0         0.0          91.0
Cobble Hill                           38.0         0.0          12.0
Columbia St                           14.0         0.0           4.0
Coney Island                           9.0         0.0           8.0
Crown Heights                        509.0         0.0         415.0
Cypress Hills                         56.0         0.0          87.0
DUMBO                                 16.0         0.0           4.0
Downtown Brooklyn                     29.0         0.0          10.0
Dyker Heights                          6.0         0.0          11.0
East Flatbush                        220.0         0.0         198.0
East New York                        154.0         0.0          95.0
Flatbush                             193.0         0.0         184.0
Flatlands                             42.0         0.0          42.0
Fort Greene                          186.0         0.0          66.0
Fort Hamilton                         22.0         0.0           8.0
Gerritsen Beach                        1.0         0.0           2.0
Gowanus                               86.0         0.0          41.0
Gravesend                             21.0         0.0          23.0
Greenpoint                           347.0         5.0         158.0
Kensington                            46.0         0.0          46.0
Manhattan Beach                        6.0         0.0           2.0
Midwood                               27.0         0.0          36.0
Mill Basin                             6.0         0.0           0.0
Navy Yard                              1.0         0.0           1.0
Park Slope                           183.0         0.0          58.0
Prospect Heights                     112.0         0.0          51.0
Prospect-Lefferts Gardens            182.0         0.0         113.0
Red Hook                              27.0         0.0           8.0
Sea Gate                              15.0         0.0           4.0
Sheepshead Bay                        50.0         0.0          37.0
South Slope                           96.0         0.0          28.0
Sunset Park                          107.0         0.0         122.0
Vinegar Hill                          20.0         0.0           4.0
Williamsburg                         999.0         0.0         752.0
Windsor Terrace                       58.0         0.0          23.0

room_type                  Shared room
neighbourhood_cleansed
Bath Beach                         0.0
Bay Ridge                          5.0
Bedford-Stuyvesant                42.0
Bensonhurst                        1.0
Bergen Beach                       0.0
Boerum Hill                        0.0
Borough Park                       2.0
Brighton Beach                     0.0
Brooklyn Heights                   0.0
Brownsville                        4.0
Bushwick                          20.0
Canarsie                           4.0
Carroll Gardens                    0.0
Clinton Hill                       2.0
Cobble Hill                        1.0
Columbia St                        0.0
Coney Island                       0.0
Crown Heights                      9.0
Cypress Hills                      2.0
DUMBO                              0.0
Downtown Brooklyn                  0.0
Dyker Heights                      1.0
East Flatbush                      5.0
East New York                      7.0
Flatbush                           6.0
Flatlands                          1.0
Fort Greene                        0.0
Fort Hamilton                      1.0
Gerritsen Beach                    1.0
Gowanus                            1.0
Gravesend                          2.0
Greenpoint                         4.0
Kensington                         2.0
Manhattan Beach                    0.0
Midwood                            0.0
Mill Basin                         0.0
Navy Yard                          0.0
Park Slope                         6.0
Prospect Heights                   1.0
Prospect-Lefferts Gardens          3.0
Red Hook                           0.0
Sea Gate                           0.0
Sheepshead Bay                     1.0
South Slope                        0.0
Sunset Park                        2.0
Vinegar Hill                       0.0
Williamsburg                      12.0
Windsor Terrace                    0.0
room_type               Entire home/apt  Hotel room  Private room  Shared room
neighbourhood_cleansed
Arverne                            52.0         0.0          28.0          0.0
Astoria                           199.0         0.0         304.0          8.0
Bay Terrace                         3.0         0.0           2.0          0.0
Bayside                            27.0         0.0          12.0          5.0
Bayswater                           5.0         0.0           8.0          0.0
Belle Harbor                        7.0         0.0           0.0          0.0
Bellerose                           6.0         0.0           5.0          0.0
Breezy Point                        0.0         0.0           4.0          0.0
Briarwood                          16.0         0.0          22.0          0.0
Cambria Heights                    25.0         0.0          19.0          1.0
College Point                      17.0         0.0          14.0          2.0
Corona                             12.0         0.0          22.0         16.0
Ditmars Steinway                   68.0         0.0          92.0          1.0
Douglaston                          2.0         0.0           3.0          0.0
East Elmhurst                     104.0         0.0         105.0          2.0
Edgemere                           10.0         0.0           5.0          0.0
Elmhurst                           48.0         0.0         165.0          1.0
Far Rockaway                       20.0         0.0          20.0          0.0
Flushing                          123.0         0.0         249.0          5.0
Forest Hills                       55.0         0.0          38.0          2.0
Fresh Meadows                      12.0         0.0          20.0          0.0
Glendale                           28.0         0.0          22.0          0.0
Hollis                              6.0         0.0          11.0          2.0
Holliswood                          2.0         0.0           2.0          0.0
Howard Beach                        9.0         0.0          14.0          1.0
Jackson Heights                    54.0         0.0         115.0          3.0
Jamaica                           117.0         0.0         130.0          6.0
Jamaica Estates                    12.0         0.0          15.0          1.0
Jamaica Hills                       7.0         0.0           3.0          0.0
Kew Gardens                         8.0         0.0          19.0          0.0
Kew Gardens Hills                  15.0         0.0           7.0          0.0
Laurelton                          22.0         0.0          28.0          0.0
Little Neck                         0.0         0.0           0.0          1.0
Long Island City                  153.0         7.0         165.0          3.0
Maspeth                            32.0         0.0          45.0          0.0
Middle Village                     16.0         0.0           7.0          0.0
Neponsit                            1.0         0.0           0.0          0.0
Ozone Park                         29.0         0.0          23.0          1.0
Queens Village                     40.0         0.0          23.0          2.0
Rego Park                          21.0         0.0          42.0          0.0
Richmond Hill                      42.0         0.0          52.0          1.0
Ridgewood                          98.0         0.0         120.0          1.0
Rockaway Beach                     45.0         0.0          10.0          2.0
Rosedale                           50.0         0.0          41.0          2.0
South Ozone Park                   29.0         0.0          33.0          1.0
Springfield Gardens                52.0         0.0          61.0          5.0
St. Albans                         68.0         0.0          45.0          2.0
Sunnyside                          75.0         0.0         137.0          5.0
Whitestone                          8.0         0.0           7.0          0.0
Woodhaven                          21.0         0.0          43.0          2.0
Woodside                           41.0         0.0         211.0          2.0
room_type                   Entire home/apt  Private room  Shared room
neighbourhood_cleansed
Arden Heights                           4.0           0.0          0.0
Arrochar                                8.0           3.0          0.0
Bay Terrace, Staten Island              1.0           0.0          0.0
Bull's Head                             3.0           4.0          0.0
Castleton Corners                       4.0           1.0          0.0
Chelsea, Staten Island                  1.0           0.0          0.0
Clifton                                 7.0           4.0          1.0
Concord                                 3.0           4.0          0.0
Dongan Hills                            2.0           0.0          0.0
Eltingville                             2.0           0.0          1.0
Emerson Hill                            3.0           1.0          0.0
Graniteville                            0.0           3.0          0.0
Grant City                              3.0          10.0          0.0
Great Kills                             3.0           1.0          0.0
Grymes Hill                             4.0           0.0          0.0
Howland Hook                            2.0           0.0          0.0
Huguenot                                1.0           3.0          0.0
Lighthouse Hill                         1.0           0.0          0.0
Mariners Harbor                        11.0          11.0          0.0
Midland Beach                           6.0           1.0          0.0
New Brighton                            0.0           8.0          0.0
New Dorp Beach                          3.0           4.0          0.0
New Springville                         1.0           2.0          0.0
Oakwood                                 6.0           1.0          0.0
Port Richmond                           4.0           4.0          0.0
Prince's Bay                            6.0           0.0          0.0
Randall Manor                           2.0           8.0          0.0
Richmondtown                            0.0           1.0          0.0
Rosebank                                4.0           1.0          1.0
Rossville                               1.0           1.0          0.0
Shore Acres                             8.0           1.0          1.0
Silver Lake                             2.0           1.0          0.0
South Beach                             1.0           2.0          0.0
St. George                             23.0           9.0          0.0
Stapleton                               7.0           7.0          0.0
Todt Hill                               1.0           0.0          0.0
Tompkinsville                          15.0          20.0          0.0
Tottenville                             4.0           0.0          0.0
West Brighton                           9.0          11.0          0.0
Westerleigh                             2.0           0.0          0.0
Willowbrook                             2.0           0.0          0.0
Woodrow                                 2.0           2.0          0.0
room_type               Entire home/apt  Private room  Shared room
neighbourhood_cleansed
Allerton                           22.0          15.0          0.0
Baychester                         10.0          13.0          2.0
Belmont                            11.0          15.0          0.0
Bronxdale                           6.0           9.0          1.0
Castle Hill                         4.0           1.0          0.0
City Island                        11.0           2.0          0.0
Claremont Village                   7.0          23.0          1.0
Clason Point                       12.0          24.0          0.0
Co-op City                          2.0           3.0          0.0
Concourse                          10.0          27.0          1.0
Concourse Village                  13.0          16.0          1.0
Country Club                        2.0           0.0          0.0
East Morrisania                     3.0           5.0          0.0
Eastchester                         7.0           1.0          0.0
Edenwald                            4.0          13.0          0.0
Fieldston                           2.0           6.0          0.0
Fordham                            11.0          39.0          1.0
Highbridge                          3.0          14.0          0.0
Hunts Point                         2.0          20.0          0.0
Kingsbridge                        23.0          40.0          0.0
Longwood                           14.0          25.0          0.0
Melrose                             6.0          13.0          0.0
Morris Heights                      5.0          15.0          3.0
Morris Park                        10.0          18.0          0.0
Morrisania                          3.0           5.0          1.0
Mott Haven                         36.0          29.0          0.0
Mount Eden                          2.0           5.0          1.0
Mount Hope                          8.0          19.0          1.0
North Riverdale                     6.0           3.0          0.0
Norwood                             9.0          19.0          0.0
Olinville                           4.0           4.0          0.0
Parkchester                        10.0          14.0          1.0
Pelham Bay                          8.0           3.0          0.0
Pelham Gardens                     16.0          14.0          0.0
Port Morris                        16.0           5.0          0.0
Riverdale                           1.0           4.0          0.0
Schuylerville                       8.0           7.0          0.0
Soundview                           3.0           7.0          0.0
Spuyten Duyvil                      3.0           0.0          0.0
Throgs Neck                        11.0           9.0          1.0
Tremont                             5.0          12.0          0.0
Unionport                           6.0           5.0          0.0
University Heights                  2.0           4.0          0.0
Van Nest                           11.0           1.0          0.0
Wakefield                          27.0          42.0          0.0
West Farms                          1.0           1.0          0.0
Westchester Square                  3.0           3.0          0.0
Williamsbridge                     29.0          30.0          0.0
Woodlawn                            8.0           1.0          0.0

## Grouping by Room Type and merging with avg price:

In [57]:
def room_type_agg(borough):

    borough_listings = reduced_listings[reduced_listings["neighbourhood_group_cleansed"] == borough].reset_index()
    
    grouped_room_type_num = borough_listings.groupby(['neighbourhood_cleansed', 'room_type']).count()

    grouped_room_type_num = grouped_room_type_num['name']

    grouped_price = borough_listings.groupby(['neighbourhood_cleansed', 'room_type']).mean('price')

    grouped_price = grouped_price[["price"]]

    grouped_room_type = pd.merge(grouped_price, grouped_room_type_num, how='outer', on=['neighbourhood_cleansed', 'room_type'])

    grouped_room_type = grouped_room_type.rename(columns={'price': 'Average Price', 'name': 'Room Type Count'}).reset_index(names=['Neighbourhood', 'Room Type'])

    grouped_room_type.to_json(f"data/grouped_room_type_listings_{borough}.json", orient="records")
    
    return grouped_room_type

for borough in boroughs:
    room_type_agg(borough)

## Specific Amenity counts per borough:

In [121]:
def amenities_by_nbhd(borough, keywords):
    
    listings = borough_listings(borough)
    keywords = ["Wifi", "Kitchen", "Air conditioning", "Backyard", "Pets allowed", "Washer", "Dryer", "Long term stays allowed", "Elevator", "Dedicated workspace"]
    
    # Convert amenities column to string and split into elements using 'strip':
    
    listings['amenities'] = listings['amenities'].astype(str).str.strip('[]').str.split(', ')
    
    # Explode the amenities column:
    
    listings_exploded = listings.explode('amenities').copy()
    
    # Initialize a DataFrame to store the counts
    
    neighborhood_counts = listings['neighbourhood_cleansed'].drop_duplicates().to_frame()
    
    # Count the occurrences of each keyword in the amenities column by neighborhood
    
    for keyword in keywords:
        keyword_count = listings_exploded[listings_exploded['amenities'].str.contains(keyword, case=False)]
        keyword_count = keyword_count.groupby('neighbourhood_cleansed').size().reset_index(name=keyword)
        neighborhood_counts = pd.merge(neighborhood_counts, keyword_count, on='neighbourhood_cleansed', how='left')
        
    # Fill NaN values with 0
    neighborhood_counts = neighborhood_counts.fillna(0)
    neighborhood_counts.to_json(f"data/amenities_counts_nbhd{borough}.json", orient="records")
    return neighborhood_counts
    
for borough in boroughs:
    print(amenities_by_nbhd(borough, keywords))

/var/folders/76/jb4rsfs93334vqf862rsx8jh0000gn/T/ipykernel_4079/3522188396.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings['amenities'] = listings['amenities'].astype(str).str.strip('[]').str.split(', ')

   neighbourhood_cleansed  Wifi  Kitchen  Air conditioning  Backyard  \
0                 Midtown  1063      831               898      22.0
1             East Harlem   550      506               416      53.0
2          Hell's Kitchen  1042      910               885      56.0
3            East Village   772      746               610      54.0
4                 Chelsea   559      507               451      33.0
5         Lower East Side   473      443               387      17.0
6         Upper East Side  1040     1009               886      63.0
7                Kips Bay   263      252               213       9.0
8                  Harlem  1397     1295               951     158.0
9            West Village   360      350               290      32.0
10        Upper West Side   963      899               738      48.0
11    Morningside Heights   129      129                95       1.0
12              Chinatown   218      183               161       1.0
13                Tribeca   102       74                92      12.0
14      Greenwich Village   148      143               125       9.0
15                 Nolita   132      123               100       6.0
16            Murray Hill   249      223               217      12.0
17               Gramercy   193      162               148      10.0
18     Washington Heights   451      412               282      19.0
19       Theater District   164       83               136       4.0
20           Little Italy    84       73                69       0.0
21                   SoHo   183      140               154      23.0
22                 Inwood   143      134                62       5.0
23      Battery Park City    42       42                41       7.0
24            Two Bridges    35       33                27       0.0
25                   NoHo    23       21                21       0.0
26     Financial District   353      238               336       6.0
27           Civic Center    18       17                12       0.0
28       Roosevelt Island    28       26                20       5.0
29        Stuyvesant Town    29       28                22       5.0
30      Flatiron District    58       41                51       2.0
31            Marble Hill     7        7                 4       1.0

    Pets allowed  Washer  Dryer  Long term stays allowed  Elevator  \
0            335     782   1411                      378     629.0
1            106     375    600                      224     140.0
2            287     789   1182                      409     412.0
3            143     480    741                      241     142.0
4            115     445    698                      230     196.0
5            108     210    446                      137     123.0
6            340     773   1192                      493     246.0
7             64     246    355                      127      99.0
8            196    1063   1655                      573     416.0
9             66     230    380                      121      89.0
10           244     843   1178                      355     384.0
11            20     113    162                       24      74.0
12            39      53    190                       64      52.0
13            26     103    137                       31      59.0
14            33      85    148                       43      31.0
15            31      71    129                       35      27.0
16            44     245    373                       74     157.0
17            37      99    212                       70      78.0
18            78     275    448                      155     178.0
19            58      92    164                       38      84.0
20            24      45     90                       14      31.0
21            43     105    187                       50      58.0
22            32      68    123                       42      42.0
23             8      58     59                       15      37.0
24             5      19     38                       16       5.0
25             6      21     28                        8      12.0
26            65     335    491                      215     160.0
27             2       7     18                        7       4.0
28             3      37     43                        6      20.0
29             6      24     33                        9      13.0
30            11      41     71                       19      33.0
31             1       2      6                        5       0.0

    Dedicated workspace
0                   491
1                   216
2                   446
3                   294
4                   254
5                   193
6                   506
7                   131
8                   623
9                   140
10                  395
11                   34
12                   90
13                   51
14                   54
15                   54
16                   89
17                   91
18                  181
19                   73
20                   23
21                   73
22                   56
23                   13
24                   15
25                    7
26                  194
27                    7
28                    5
29                   11
30                   19
31                    5

/var/folders/76/jb4rsfs93334vqf862rsx8jh0000gn/T/ipykernel_4079/3522188396.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings['amenities'] = listings['amenities'].astype(str).str.strip('[]').str.split(', ')

       neighbourhood_cleansed  Wifi  Kitchen  Air conditioning  Backyard  \
0          Bedford-Stuyvesant  2061     2000              1466     419.0
1                Williamsburg  1773     1708              1387     237.0
2                 Fort Greene   251      239               181      40.0
3                  Greenpoint   514      464               422      53.0
4                Clinton Hill   274      265               216      56.0
5             Carroll Gardens   129      126               105      25.0
6                  Park Slope   246      233               183      60.0
7                 South Slope   123      118                97      30.0
8               East Flatbush   430      399               259     115.0
9                 Boerum Hill    91       87                69      17.0
10           Prospect Heights   162      157               124      27.0
11           Brooklyn Heights    65       62                43       5.0
12              Crown Heights   934      894               649     206.0
13                    Gowanus   131      119                91      31.0
14                   Bushwick  1120     1082               829     171.0
15          Downtown Brooklyn    39       32                37       2.0
16             Sheepshead Bay    90       86                61      10.0
17                Bensonhurst    42       40                30       2.0
18  Prospect-Lefferts Gardens   298      285               203      32.0
19            Windsor Terrace    81       73                51      17.0
20                   Flatbush   381      364               258      68.0
21                 Kensington    93       89                73      13.0
22                Sunset Park   230      214               144      37.0
23             Brighton Beach    43       41                30       5.0
24              East New York   255      234               146      61.0
25              Fort Hamilton    31       31                20       3.0
26                  Gravesend    47       39                31       7.0
27                Columbia St    18       18                14       2.0
28                   Red Hook    34       32                27      11.0
29                Cobble Hill    52       47                35       7.0
30                  Bay Ridge   100       98                65      14.0
31               Vinegar Hill    24       22                22       3.0
32                      DUMBO    19       18                16       2.0
33                   Canarsie   203      192               121      55.0
34                   Sea Gate    18       18                 5      15.0
35                  Flatlands    83       77                61      25.0
36               Borough Park    56       50                32       2.0
37                    Midwood    65       61                38      11.0
38                Brownsville   103       97                63      20.0
39              Cypress Hills   142      133                92      23.0
40            Manhattan Beach     8        6                 6       1.0
41              Dyker Heights    17       14                13       1.0
42                  Navy Yard     2        2                 2       0.0
43               Coney Island    20       17                 8       2.0
44                 Bath Beach    22       21                14      10.0
45               Bergen Beach     9        9                 6       4.0
46            Gerritsen Beach     4        4                 3       1.0
47                 Mill Basin     6       10                 5       2.0

    Pets allowed  Washer  Dryer  Long term stays allowed  Elevator  \
0          366.0    1445   2212                    906.0     128.0
1          363.0    1308   1932                    541.0     346.0
2           40.0     199    280                     84.0      51.0
3          102.0     428    609                    145.0      98.0
4           51.0     242    332                     89.0      56.0
5           25.0     106    145                     48.0       6.0
6           46.0     208    309                    100.0      12.0
7           19.0     101    153                     36.0       8.0
8           88.0     201    392                    217.0      20.0
9           22.0      81    117                     32.0      12.0
10          34.0     131    187                     55.0      32.0
11          17.0      42     71                     24.0       7.0
12         169.0     593    976                    354.0     103.0
13          35.0     120    165                     56.0      18.0
14         212.0     719   1082                    394.0      68.0
15          11.0      40     42                      8.0      21.0
16          18.0      58    110                     37.0      23.0
17           9.0      13     41                     15.0       3.0
18          71.0     167    313                     99.0      83.0
19          13.0      82    115                     35.0      11.0
20          71.0     281    445                    146.0     131.0
21           5.0      61     94                     34.0      17.0
22          49.0     115    222                     91.0      19.0
23           9.0      33     50                     22.0      17.0
24          38.0      76    254                    135.0       6.0
25           6.0      26     40                     14.0       9.0
26           6.0      25     49                     27.0       7.0
27           2.0      13     21                      6.0       1.0
28          12.0      30     42                     22.0       3.0
29           6.0      36     63                     18.0       2.0
30          19.0      24     93                     44.0      12.0
31          10.0      28     33                      8.0      15.0
32           4.0      26     28                      9.0      11.0
33          30.0      44    182                    100.0       1.0
34          15.0      11     29                     12.0       0.0
35          10.0      24     64                     39.0       3.0
36           2.0      19     51                     22.0       3.0
37           5.0      45     66                     22.0      18.0
38          20.0      52     98                     45.0       3.0
39          31.0      47    118                     68.0       1.0
40           1.0       7      8                      5.0       3.0
41           2.0       7     17                      8.0       1.0
42           0.0       1      2                      0.0       0.0
43           1.0       9     21                     14.0       0.0
44           1.0      22     30                     12.0       1.0
45           2.0       3      8                      6.0       0.0
46           0.0       2      5                      1.0       0.0
47           3.0       2      5                      4.0       0.0

    Dedicated workspace
0                1027.0
1                 707.0
2                 113.0
3                 227.0
4                 113.0
5                  50.0
6                 112.0
7                  53.0
8                 262.0
9                  30.0
10                 63.0
11                 30.0
12                470.0
13                 62.0
14                480.0
15                 16.0
16                 46.0
17                 16.0
18                137.0
19                 41.0
20                184.0
21                 36.0
22                116.0
23                 23.0
24                150.0
25                 14.0
26                 22.0
27                  5.0
28                 15.0
29                 21.0
30                 63.0
31                 10.0
32                  9.0
33                113.0
34                 15.0
35                 43.0
36                 26.0
37                 36.0
38                 62.0
39                 67.0
40                  5.0
41                 10.0
42                  0.0
43                 15.0
44                 14.0
45                  5.0
46                  4.0
47                  3.0

/var/folders/76/jb4rsfs93334vqf862rsx8jh0000gn/T/ipykernel_4079/3522188396.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings['amenities'] = listings['amenities'].astype(str).str.strip('[]').str.split(', ')

   neighbourhood_cleansed  Wifi  Kitchen  Air conditioning  Backyard  \
0        Long Island City   327    285.0             255.0      61.0
1                Woodside   253    235.0              90.0      14.0
2               Sunnyside   219    201.0             128.0      21.0
3               Ridgewood   221    210.0             136.0      35.0
4          Middle Village    23     23.0              15.0       4.0
5        Ditmars Steinway   160    150.0              90.0      32.0
6                 Jamaica   258    223.0             157.0     100.0
7                 Astoria   512    471.0             340.0      39.0
8         Jackson Heights   170    156.0             104.0      24.0
9          Rockaway Beach    57     55.0              32.0      20.0
10              Rego Park    64     58.0              33.0      10.0
11                Maspeth    79     71.0              48.0      16.0
12              Briarwood    38     27.0              26.0       7.0
13               Elmhurst   213    188.0              95.0      10.0
14                Bayside    45     38.0              31.0      11.0
15          East Elmhurst   213    170.0             133.0      44.0
16               Flushing   377    332.0             241.0      62.0
17          College Point    34     22.0              19.0       7.0
18                Arverne    82     77.0              53.0      39.0
19          Richmond Hill    96     79.0              64.0      28.0
20         Queens Village    68     62.0              37.0      28.0
21               Glendale    50     46.0              31.0       4.0
22           Forest Hills    94     85.0              65.0      21.0
23            Bay Terrace     5      5.0               5.0       1.0
24              Woodhaven    70     52.0              46.0      28.0
25             Ozone Park    54     47.0              36.0      23.0
26            Kew Gardens    29     28.0              13.0       5.0
27              Bellerose    11      9.0               4.0       5.0
28       South Ozone Park    63     57.0              45.0      15.0
29        Jamaica Estates    28     25.0              11.0      16.0
30    Springfield Gardens   121    112.0              91.0      41.0
31                 Hollis    19     15.0              14.0       6.0
32           Howard Beach    24     22.0              19.0       3.0
33              Laurelton    49     45.0              33.0      23.0
34          Fresh Meadows    36     27.0              20.0       7.0
35             Holliswood     4      4.0               4.0       4.0
36                 Corona    56     45.0              29.0       6.0
37               Edgemere    15     17.0              10.0      10.0
38      Kew Gardens Hills    21     19.0              15.0       2.0
39             St. Albans   119     95.0              75.0      41.0
40               Rosedale    94     91.0              45.0      34.0
41        Cambria Heights    45     36.0              22.0      21.0
42             Whitestone    16     10.0              11.0      10.0
43           Far Rockaway    38     40.0              28.0      16.0
44               Neponsit     1      1.0               1.0       1.0
45              Bayswater    13     10.0               8.0       4.0
46             Douglaston     6      5.0               4.0       2.0
47          Jamaica Hills     9     10.0               5.0       3.0
48            Little Neck     1      1.0               0.0       0.0
49           Belle Harbor     7      7.0               5.0       3.0
50           Breezy Point     4      0.0               4.0       0.0

    Pets allowed  Washer  Dryer  Long term stays allowed  Elevator  \
0           66.0   231.0  402.0                    133.0      99.0
1           15.0    34.0  129.0                    103.0      24.0
2           23.0    67.0  182.0                     89.0      35.0
3           17.0   123.0  230.0                     82.0       7.0
4            4.0     6.0   17.0                     13.0       0.0
5           21.0    62.0  151.0                     71.0       5.0
6           45.0    89.0  211.0                    141.0      16.0
7           64.0   149.0  456.0                    197.0      41.0
8           20.0    38.0  134.0                     80.0      27.0
9           12.0    24.0   58.0                     19.0       1.0
10           3.0    30.0   48.0                     18.0      17.0
11          16.0    23.0   61.0                     42.0       3.0
12           7.0    13.0   40.0                     18.0       3.0
13          14.0    49.0  147.0                     88.0      25.0
14           9.0    37.0   57.0                     23.0       0.0
15          45.0    69.0  181.0                     92.0       2.0
16          61.0   157.0  390.0                    150.0      69.0
17           5.0    10.0   28.0                     15.0       1.0
18          16.0    62.0   89.0                     49.0       1.0
19          14.0    20.0   76.0                     49.0       0.0
20          13.0    17.0   55.0                     28.0       0.0
21           7.0    28.0   56.0                     30.0       0.0
22          11.0    64.0  112.0                     40.0      20.0
23           0.0     5.0    7.0                      4.0       0.0
24          14.0    12.0   64.0                     40.0       0.0
25           6.0    16.0   50.0                     25.0       0.0
26           7.0    21.0   18.0                     19.0       8.0
27           0.0     5.0   11.0                      8.0       0.0
28          11.0    16.0   54.0                     27.0       0.0
29           4.0    27.0   46.0                     21.0       0.0
30          12.0    26.0   87.0                     60.0       0.0
31           2.0     6.0   20.0                     11.0       0.0
32           4.0     5.0   23.0                     13.0       0.0
33           8.0    18.0   46.0                     19.0       1.0
34           9.0    19.0   39.0                     22.0       0.0
35           1.0     7.0    7.0                      3.0       0.0
36           2.0    18.0   57.0                     22.0       6.0
37           5.0     9.0   20.0                      9.0       0.0
38           2.0    13.0   19.0                     10.0       1.0
39          24.0    16.0   99.0                     64.0       0.0
40           4.0    30.0   78.0                     45.0       0.0
41           7.0     9.0   32.0                     26.0       0.0
42           3.0     4.0   15.0                      7.0       0.0
43          16.0    16.0   39.0                     33.0       1.0
44           0.0     0.0    2.0                      1.0       0.0
45           2.0     3.0    6.0                      5.0       0.0
46           1.0     2.0    5.0                      2.0       0.0
47           3.0     5.0   11.0                      3.0       2.0
48           0.0     0.0    1.0                      0.0       1.0
49           5.0     8.0    8.0                      4.0       0.0
50           4.0     0.0    0.0                      0.0       0.0

    Dedicated workspace
0                 177.0
1                 101.0
2                 108.0
3                 109.0
4                  13.0
5                  79.0
6                 136.0
7                 227.0
8                  76.0
9                  29.0
10                 24.0
11                 31.0
12                 17.0
13                118.0
14                 28.0
15                128.0
16                236.0
17                 20.0
18                 42.0
19                 57.0
20                 34.0
21                 24.0
22                 45.0
23                  3.0
24                 31.0
25                 31.0
26                 19.0
27                 10.0
28                 36.0
29                 23.0
30                 80.0
31                 13.0
32                  9.0
33                 31.0
34                 21.0
35                  4.0
36                 36.0
37                 13.0
38                  9.0
39                 64.0
40                 53.0
41                 23.0
42                 12.0
43                 29.0
44                  0.0
45                  9.0
46                  2.0
47                  5.0
48                  0.0
49                  2.0
50                  0.0
        neighbourhood_cleansed  Wifi  Kitchen  Air conditioning  Backyard  \
0                   St. George    32       31                20      17.0
1                 Emerson Hill     4        3                 4       1.0
2                  Shore Acres     9       11                 8       6.0
3              New Springville     3        2                 3       1.0
4                  Tottenville     5        4                 3       3.0
5                Tompkinsville    35       30                26      21.0
6                      Concord     8        7                 6       4.0
7                      Clifton    11       13                 7       5.0
8                     Huguenot     4        2                 3       1.0
9              Lighthouse Hill     1        1                 1       1.0
10             Mariners Harbor    22       19                17      10.0
11               West Brighton    20       18                12       8.0
12                Dongan Hills     2        2                 2       2.0
13               Randall Manor    10        9                 7       7.0
14                 Great Kills     4        3                 4       2.0
15                 Silver Lake     3        3                 4       0.0
16           Castleton Corners     5        5                 3       1.0
17                New Brighton     8        7                 5       5.0
18                   Stapleton    14       14                 9      10.0
19                Richmondtown     1        1                 1       0.0
20                Howland Hook     3        2                 1       1.0
21                 South Beach     3        3                 3       0.0
22                     Oakwood     7        8                 7       6.0
23                    Arrochar     9       10                11       7.0
24                    Rosebank     6        4                 4       3.0
25                 Grymes Hill     4        4                 3       2.0
26               Port Richmond     9        5                 5       2.0
27                 Willowbrook     2        2                 2       0.0
28              New Dorp Beach     7        7                 5       1.0
29               Midland Beach     7        7                 4       5.0
30                  Grant City    13       13                12      10.0
31               Arden Heights     4        4                 3       1.0
32                Prince's Bay     6        6                 4       0.0
33                 Bull's Head     8        6                 7       4.0
34                 Westerleigh     2        2                 2       1.0
35      Chelsea, Staten Island     1        1                 1       0.0
36                     Woodrow     4        3                 4       2.0
37                Graniteville     3        1                 3       0.0
38                 Eltingville     3        3                 2       1.0
39                   Todt Hill     1        1                 1       0.0
40                   Rossville     2        1                 2       2.0
41  Bay Terrace, Staten Island     1        1                 1       0.0

    Pets allowed  Washer  Dryer  Long term stays allowed  Elevator  \
0            8.0    23.0     33                     20.0       1.0
1            2.0     3.0      4                      3.0       0.0
2            1.0     6.0      9                      6.0       0.0
3            1.0     1.0      4                      1.0       0.0
4            2.0     2.0      5                      2.0       0.0
5            6.0    24.0     45                     21.0       0.0
6            0.0     6.0      7                      6.0       0.0
7            3.0     9.0     13                      7.0       0.0
8            1.0     0.0      4                      3.0       0.0
9            0.0     2.0      2                      1.0       0.0
10           2.0     9.0     23                      9.0       0.0
11           0.0     9.0     20                     13.0       0.0
12           1.0     3.0      3                      2.0       0.0
13           2.0     5.0      9                      4.0       0.0
14           0.0     4.0      4                      1.0       0.0
15           0.0     1.0      4                      3.0       0.0
16           3.0     2.0      6                      2.0       0.0
17           2.0     9.0     13                      5.0       0.0
18           2.0    10.0     16                      8.0       0.0
19           0.0     0.0      1                      0.0       0.0
20           0.0     2.0      2                      1.0       0.0
21           1.0     0.0      1                      0.0       0.0
22           0.0     7.0      8                      6.0       0.0
23           2.0     7.0     12                      4.0       0.0
24           3.0     1.0      5                      5.0       0.0
25           0.0     6.0      7                      2.0       0.0
26           3.0     2.0      6                      7.0       0.0
27           0.0     1.0      1                      0.0       0.0
28           0.0     6.0      9                      4.0       0.0
29           6.0     6.0      8                      4.0       0.0
30           1.0     1.0      2                     11.0       0.0
31           0.0     4.0      6                      2.0       0.0
32           1.0     2.0      3                      3.0       0.0
33           1.0     6.0      6                      4.0       0.0
34           0.0     1.0      2                      1.0       0.0
35           0.0     0.0      1                      1.0       0.0
36           1.0     6.0      6                      4.0       0.0
37           1.0     0.0      2                      3.0       0.0
38           2.0     4.0      5                      3.0       0.0
39           1.0     1.0      2                      1.0       0.0
40           0.0     3.0      4                      0.0       0.0
41           1.0     1.0      2                      1.0       0.0

    Dedicated workspace
0                  17.0
1                   2.0
2                   5.0
3                   1.0
4                   1.0
5                  20.0
6                   4.0
7                   7.0
8                   3.0
9                   0.0
10                 15.0
11                 16.0
12                  1.0
13                  6.0
14                  2.0
15                  3.0
16                  4.0
17                  5.0
18                  7.0
19                  1.0
20                  0.0
21                  2.0
22                  6.0
23                  5.0
24                  2.0
25                  2.0
26                  3.0
27                  0.0
28                  2.0
29                  4.0
30                  9.0
31                  3.0
32                  4.0
33                  3.0
34                  2.0
35                  1.0
36                  2.0
37                  2.0
38                  2.0
39                  0.0
40                  0.0
41                  1.0

/var/folders/76/jb4rsfs93334vqf862rsx8jh0000gn/T/ipykernel_4079/3522188396.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings['amenities'] = listings['amenities'].astype(str).str.strip('[]').str.split(', ')
/var/folders/76/jb4rsfs93334vqf862rsx8jh0000gn/T/ipykernel_4079/3522188396.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings['amenities'] = listings['amenities'].astype(str).str.strip('[]').str.split(', ')

   neighbourhood_cleansed  Wifi  Kitchen  Air conditioning  Backyard  \
0             Eastchester     8        7                 7       5.0
1             Kingsbridge    62       53                42       7.0
2      University Heights     5        6                 3       1.0
3                Allerton    38       35                21      13.0
4          Spuyten Duyvil     3        2                 3       2.0
5              Co-op City     5        4                 3       0.0
6              Mott Haven    66       58                42      15.0
7                 Melrose    20       18                10       1.0
8                 Norwood    27       26                17       1.0
9               Concourse    39       33                19       3.0
10            City Island    13       11                 7       8.0
11            Port Morris    21       17                16       4.0
12               Longwood    37       36                25       9.0
13         Williamsbridge    62       55                38      24.0
14              Soundview    11        9                 7       1.0
15            Parkchester    25       23                14       2.0
16              Bronxdale    16       13                12       1.0
17      Claremont Village    31       31                13       5.0
18                Fordham    51       49                28       5.0
19             Mount Hope    29       24                 8       4.0
20              Wakefield    67       61                44      10.0
21      Concourse Village    28       25                17       3.0
22              Fieldston     8        8                 3       3.0
23           Clason Point    41       36                24      14.0
24              Unionport    11       10                 7       5.0
25            Morris Park    29       25                12       9.0
26         Pelham Gardens    34       29                18      14.0
27        East Morrisania     8        8                 6       3.0
28                Tremont    17       14                13       5.0
29            Hunts Point    25       22                17       4.0
30              Riverdale     5        5                 4       0.0
31             Baychester    25       20                14      10.0
32              Olinville     8        8                 5       2.0
33         Morris Heights    22       22                14       2.0
34             Pelham Bay    11       10                 8       2.0
35             Highbridge    17       14                14       2.0
36               Edenwald    18       18                10       6.0
37             Mount Eden     8        7                 5       0.0
38             Morrisania    10        9                 4       1.0
39     Westchester Square     7        4                 3       1.0
40        North Riverdale    10        9                 5       3.0
41            Throgs Neck    20       22                15       6.0
42           Country Club     2        2                 1       1.0
43                Belmont    26       25                13       3.0
44          Schuylerville    15       15                 2       5.0
45             West Farms     1        2                 2       0.0
46               Woodlawn     9        9                 4       1.0
47               Van Nest    11       11                 7       1.0
48            Castle Hill     6        5                 1       2.0

    Pets allowed  Washer  Dryer  Long term stays allowed  Elevator  \
0            3.0     1.0      8                      5.0       0.0
1           14.0    32.0     61                     23.0      16.0
2            0.0     1.0      2                      2.0       0.0
3            4.0     5.0     25                     19.0       3.0
4            0.0     1.0      3                      1.0       1.0
5            2.0     3.0      6                      2.0       2.0
6           15.0    32.0     68                     40.0      15.0
7            5.0    14.0     24                     12.0       3.0
8            4.0    14.0     27                     17.0      14.0
9            5.0    16.0     34                     14.0      15.0
10           5.0    13.0     18                     10.0       0.0
11          11.0     8.0     23                     13.0      11.0
12           6.0    23.0     40                     14.0       2.0
13          17.0    21.0     53                     37.0       0.0
14           3.0     4.0      8                      7.0       3.0
15           5.0     5.0     20                      8.0      10.0
16           2.0     6.0     14                     10.0      11.0
17           6.0     7.0     28                     19.0       3.0
18           8.0    29.0     56                     20.0      14.0
19           0.0    25.0     38                     15.0       9.0
20           4.0    13.0     57                     40.0       5.0
21           7.0    13.0     26                     16.0       8.0
22           2.0     7.0     10                      7.0       4.0
23           5.0    16.0     36                     21.0       0.0
24           4.0     3.0      9                      5.0       0.0
25           2.0    12.0     31                     20.0       0.0
26           0.0    16.0     41                     11.0       0.0
27           2.0     2.0      6                      1.0       1.0
28           3.0     3.0     12                      6.0       1.0
29           0.0    10.0     23                     13.0       0.0
30           0.0     4.0      5                      3.0       3.0
31           5.0     9.0     23                     12.0       0.0
32           1.0     4.0      7                      4.0       0.0
33           0.0    13.0     25                     11.0       3.0
34           3.0     5.0     15                      6.0       0.0
35           1.0     4.0     14                      6.0       5.0
36           2.0     6.0     13                      8.0       0.0
37           2.0     1.0      7                      4.0       0.0
38           1.0     5.0     10                      4.0       2.0
39           0.0     0.0      6                      2.0       0.0
40           1.0     7.0      9                      6.0       0.0
41           8.0    12.0     17                     14.0       0.0
42           1.0     2.0      2                      1.0       0.0
43          10.0     4.0     16                     10.0       0.0
44           4.0     6.0     18                      6.0       0.0
45           0.0     1.0      1                      0.0       1.0
46           2.0     3.0      9                      6.0       2.0
47           0.0     4.0     11                      5.0       0.0
48           1.0     1.0      4                      5.0       0.0

    Dedicated workspace
0                   7.0
1                  29.0
2                   3.0
3                  23.0
4                   1.0
5                   2.0
6                  38.0
7                  14.0
8                  19.0
9                  18.0
10                  9.0
11                 15.0
12                 21.0
13                 35.0
14                  8.0
15                 12.0
16                  6.0
17                 24.0
18                 24.0
19                 14.0
20                 35.0
21                 18.0
22                  6.0
23                 19.0
24                  4.0
25                 21.0
26                 18.0
27                  1.0
28                 10.0
29                  7.0
30                  1.0
31                 18.0
32                  6.0
33                 12.0
34                  5.0
35                  8.0
36                  7.0
37                  5.0
38                  5.0
39                  2.0
40                  7.0
41                  9.0
42                  0.0
43                 12.0
44                 13.0
45                  0.0
46                  7.0
47                 10.0
48                  4.0

## Ratings Aggregation:

In [122]:
def avgRatings(borough): 

    listings = borough_listings(borough)
    ratings_df= listings.groupby(["neighbourhood_cleansed"])["review_scores_rating"].mean()
    return ratings_df

avgrating = avgRatings("Manhattan")
print(avgrating)

neighbourhood_cleansed
Battery Park City      4.818372
Chelsea                4.705487
Chinatown              4.653410
Civic Center           4.865556
East Harlem            4.655275
East Village           4.691959
Financial District     4.679377
Flatiron District      4.610517
Gramercy               4.740573
Greenwich Village      4.720470
Harlem                 4.671516
Hell's Kitchen         4.598905
Inwood                 4.552302
Kips Bay               4.668914
Little Italy           4.694235
Lower East Side        4.659286
Marble Hill            4.917143
Midtown                4.579880
Morningside Heights    4.644737
Murray Hill            4.615263
NoHo                   4.810417
Nolita                 4.767594
Roosevelt Island       4.628929
SoHo                   4.701475
Stuyvesant Town        4.557857
Theater District       4.520340
Tribeca                4.703232
Two Bridges            4.720000
Upper East Side        4.651773
Upper West Side        4.660220
Washington Heights     4.618479
West Village           4.767382
Name: review_scores_rating, dtype: float64

## ToDo Graphing:

bar chart
    stacked amenities by neighbourhood
        (potential drop-down for specified amenities)

pie chart
    percent of each room type for the borough

scatter plot
    average price distribution by room type
        (a scatter plot for each room type with regression line)

box plot
    price by borough
        (the price of all)

# DELETE EVERYTHING BELOW THIS LINE?

## Create DataFrames for each borough

### Manhattan Aggregates

In [13]:
manhattan_listings = reduced_listings[listings_df["neighbourhood_group_cleansed"] == "Manhattan"]

manhattan_listings.head()

,name,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,room_type,amenities,price,number_of_reviews,review_scores_rating
0,Rental unit in New York · ★4.68 · Studio · 1 b...,Midtown,Manhattan,40.75356,-73.98559,Entire home/apt,"[Long term stays allowed, Cooking basics, Ethe...",240.0,49,4.68
3,Rental unit in New York · ★4.88 · 1 bedroom · ...,East Harlem,Manhattan,40.78778,-73.94759,Private room,"[Hair dryer, Air conditioning, Fire extinguish...",70.0,246,4.88
4,Condo in New York · 1 bedroom · 1 bed · 1 shar...,East Harlem,Manhattan,40.80107,-73.94255,Private room,"[Fire extinguisher, Long term stays allowed, H...",65.0,1,5.00
10,Rental unit in New York · ★4.52 · Studio · 1 b...,Hell's Kitchen,Manhattan,40.76724,-73.98664,Entire home/apt,"[Long term stays allowed, Paid washer – In bui...",175.0,58,4.52
11,Rental unit in New York · ★4.39 · 1 bedroom · ...,East Village,Manhattan,40.72296,-73.98383,Private room,"[Long term stays allowed, Cooking basics, Micr...",70.0,315,4.39

In [14]:
# Group by neighborhood, find average price
avg_price_nbhd_manhattan = manhattan_listings.groupby(["neighbourhood_cleansed"])["price"].mean()

avg_price_nbhd_manhattan = avg_price_nbhd_manhattan.round(2).reset_index()

avg_price_nbhd_manhattan["borough"] = "Manhattan"

avg_price_nbhd_manhattan

   neighbourhood_cleansed   price    borough
0       Battery Park City  268.88  Manhattan
1                 Chelsea  290.04  Manhattan
2               Chinatown  210.76  Manhattan
3            Civic Center  288.50  Manhattan
4             East Harlem  158.56  Manhattan
5            East Village  228.85  Manhattan
6      Financial District  315.13  Manhattan
7       Flatiron District  484.31  Manhattan
8                Gramercy  213.86  Manhattan
9       Greenwich Village  262.47  Manhattan
10                 Harlem  152.09  Manhattan
11         Hell's Kitchen  277.36  Manhattan
12                 Inwood   92.26  Manhattan
13               Kips Bay  221.61  Manhattan
14           Little Italy  249.00  Manhattan
15        Lower East Side  230.06  Manhattan
16            Marble Hill   95.86  Manhattan
17                Midtown  367.61  Manhattan
18    Morningside Heights  123.78  Manhattan
19            Murray Hill  303.91  Manhattan
20                   NoHo  391.04  Manhattan
21                 Nolita  235.87  Manhattan
22       Roosevelt Island  145.96  Manhattan
23                   SoHo  373.38  Manhattan
24        Stuyvesant Town  162.18  Manhattan
25       Theater District  490.06  Manhattan
26                Tribeca  464.11  Manhattan
27            Two Bridges  131.03  Manhattan
28        Upper East Side  227.35  Manhattan
29        Upper West Side  240.96  Manhattan
30     Washington Heights  117.74  Manhattan
31           West Village  316.67  Manhattan

In [15]:
#Find room_type freq by neighborhood:

grouped_man = manhattan_listings.groupby(['neighbourhood_cleansed', 'room_type']).size().reset_index(name='count')

roomtype_nbhd_manhattan = grouped_man.pivot(index='neighbourhood_cleansed', columns='room_type', values='count').fillna(0)

roomtype_nbhd_manhattan.head()

room_type               Entire home/apt  Hotel room  Private room  Shared room
neighbourhood_cleansed
Battery Park City                  34.0         0.0           9.0          0.0
Chelsea                           424.0         2.0         122.0          6.0
Chinatown                         128.0         0.0          88.0          1.0
Civic Center                       13.0         0.0           5.0          0.0
East Harlem                       293.0         0.0         240.0         13.0

## Top 15 Amenities: Manhattan

In [16]:
amenities = manhattan_listings[["amenities","neighbourhood_cleansed"]]
df_explode = amenities.explode("amenities")
df_explode.value_counts()["amenities" = ]

amenities              neighbourhood_cleansed
Smoke alarm            Harlem                    1319
Kitchen                Harlem                    1282
Wifi                   Harlem                    1267
Essentials             Harlem                    1238
Carbon monoxide alarm  Harlem                    1127
Hangers                Harlem                    1095
Wifi                   Midtown                   1025
Heating                Harlem                    1016
Hot water              Harlem                    1013
Kitchen                Upper East Side           1006
Hair dryer             Harlem                    1003
Smoke alarm            Midtown                    998
Iron                   Harlem                     996
Wifi                   Upper East Side            995
Dishes and silverware  Harlem                     992
Name: count, dtype: int64

### Bronx Aggregates

In [17]:
bronx_listings = reduced_listings[listings_df["neighbourhood_group_cleansed"] == "Bronx"]
bronx_listings.head()

,name,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,room_type,amenities,price,number_of_reviews,review_scores_rating
98,Rental unit in Bronx · ★4.93 · 1 bedroom · 1 b...,Eastchester,Bronx,40.88100,-73.83511,Entire home/apt,"[Long term stays allowed, Hair conditioner co...",114.0,57,4.93
114,Rental unit in Bronx · ★4.56 · 1 bedroom · 1 b...,Kingsbridge,Bronx,40.87069,-73.90113,Entire home/apt,"[Long term stays allowed, Cooking basics, Pets...",90.0,16,4.56
244,Home in Bronx · ★4.47 · 1 bedroom · 1 bed · 1 ...,University Heights,Bronx,40.85981,-73.90630,Private room,"[Hair dryer, Air conditioning, Iron, Heating, ...",45.0,164,4.47
271,Guest suite in Bronx · ★4.68 · 1 bedroom · 2 b...,Allerton,Bronx,40.86502,-73.85496,Entire home/apt,"[Outdoor dining area, Long term stays allowed,...",175.0,346,4.68
332,Guest suite in Riverdale · ★4.74 · 2 bedrooms...,Spuyten Duyvil,Bronx,40.88095,-73.91701,Entire home/apt,"[Outdoor dining area, Long term stays allowed,...",151.0,146,4.74

In [18]:
# Group by neighborhood, find average price
avg_price_nbhd_bronx = bronx_listings.groupby(["neighbourhood_cleansed"])["price"].mean()

avg_price_nbhd_bronx = avg_price_nbhd_bronx.round(2).reset_index()

avg_price_nbhd_bronx["borough"] = "Bronx"

avg_price_nbhd_bronx

   neighbourhood_cleansed   price borough
0                Allerton  101.76   Bronx
1              Baychester   99.20   Bronx
2                 Belmont  104.35   Bronx
3               Bronxdale   72.88   Bronx
4             Castle Hill  123.20   Bronx
5             City Island  182.31   Bronx
6       Claremont Village  111.94   Bronx
7            Clason Point  105.72   Bronx
8              Co-op City   78.60   Bronx
9               Concourse   98.29   Bronx
10      Concourse Village  106.60   Bronx
11           Country Club  161.50   Bronx
12        East Morrisania   98.38   Bronx
13            Eastchester  130.12   Bronx
14               Edenwald   85.06   Bronx
15              Fieldston   92.75   Bronx
16                Fordham   90.41   Bronx
17             Highbridge   87.06   Bronx
18            Hunts Point   56.50   Bronx
19            Kingsbridge   90.30   Bronx
20               Longwood  367.31   Bronx
21                Melrose  109.21   Bronx
22         Morris Heights   82.13   Bronx
23            Morris Park   85.29   Bronx
24             Morrisania   89.22   Bronx
25             Mott Haven  160.78   Bronx
26             Mount Eden  104.00   Bronx
27             Mount Hope   82.93   Bronx
28        North Riverdale  163.33   Bronx
29                Norwood   80.25   Bronx
30              Olinville  213.00   Bronx
31            Parkchester   81.88   Bronx
32             Pelham Bay  131.00   Bronx
33         Pelham Gardens  122.43   Bronx
34            Port Morris  197.67   Bronx
35              Riverdale  142.20   Bronx
36          Schuylerville  108.13   Bronx
37              Soundview  119.70   Bronx
38         Spuyten Duyvil  225.33   Bronx
39            Throgs Neck  150.76   Bronx
40                Tremont   86.18   Bronx
41              Unionport  140.82   Bronx
42     University Heights   92.17   Bronx
43               Van Nest  208.83   Bronx
44              Wakefield  100.49   Bronx
45             West Farms  122.50   Bronx
46     Westchester Square   90.67   Bronx
47         Williamsbridge  104.08   Bronx
48               Woodlawn  131.11   Bronx

In [19]:
#Find room_type freq by neighborhood:
grouped_bronx = bronx_listings.groupby(['neighbourhood_cleansed', 'room_type']).size().reset_index(name='count')

roomtype_nbhd_bronx = grouped_bronx.pivot(index='neighbourhood_cleansed', columns='room_type', values='count').fillna(0)

roomtype_nbhd_bronx.head()

room_type               Entire home/apt  Private room  Shared room
neighbourhood_cleansed
Allerton                           22.0          15.0          0.0
Baychester                         10.0          13.0          2.0
Belmont                            11.0          15.0          0.0
Bronxdale                           6.0           9.0          1.0
Castle Hill                         4.0           1.0          0.0

## Top 15 Amenities: Bronx

### Queens Aggregates

In [20]:
queens_listings = reduced_listings[listings_df["neighbourhood_group_cleansed"] == "Queens"]
queens_listings.head()

,name,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,room_type,amenities,price,number_of_reviews,review_scores_rating
12,Townhouse in Queens · ★4.91 · 1 bedroom · 1 be...,Long Island City,Queens,40.74757,-73.94571,Private room,"[Private backyard – Fully fenced, Coffee, Gard...",165.0,385,4.91
25,Condo in Queens · ★5.0 · 1 bedroom · 1 bed · 1...,Woodside,Queens,40.74884,-73.90536,Private room,"[Air conditioning, Heating, Washer, Dryer, Ele...",65.0,30,5.00
55,Rental unit in Long Island City · ★4.93 · 1 be...,Sunnyside,Queens,40.74523,-73.92318,Entire home/apt,"[Long term stays allowed, Cooking basics, GE s...",78.0,32,4.93
65,Townhouse in Queens · ★4.42 · 5 bedrooms · 10 ...,Ridgewood,Queens,40.70309,-73.89963,Entire home/apt,"[Hair dryer, Air conditioning, Long term stays...",500.0,13,4.42
70,Guesthouse in Queens · ★4.34 · 1 bedroom · 1 b...,Middle Village,Queens,40.71567,-73.87842,Entire home/apt,"[Air conditioning, Heating, Free parking on pr...",130.0,33,4.34

In [21]:
# Group by neighborhood, find average price
avg_price_nbhd_queens = queens_listings.groupby(["neighbourhood_cleansed"])["price"].mean()

avg_price_nbhd_queens = avg_price_nbhd_queens.round(2).reset_index()

avg_price_nbhd_queens["borough"] = "Queens"


avg_price_nbhd_queens

   neighbourhood_cleansed   price borough
0                 Arverne  195.36  Queens
1                 Astoria  112.43  Queens
2             Bay Terrace  152.20  Queens
3                 Bayside  142.55  Queens
4               Bayswater   94.23  Queens
5            Belle Harbor  223.71  Queens
6               Bellerose  128.27  Queens
7            Breezy Point  150.00  Queens
8               Briarwood  121.84  Queens
9         Cambria Heights  126.53  Queens
10          College Point  119.18  Queens
11                 Corona   85.58  Queens
12       Ditmars Steinway  120.78  Queens
13             Douglaston   82.80  Queens
14          East Elmhurst  138.11  Queens
15               Edgemere  186.73  Queens
16               Elmhurst   74.00  Queens
17           Far Rockaway  150.62  Queens
18               Flushing  112.36  Queens
19           Forest Hills  140.26  Queens
20          Fresh Meadows  106.94  Queens
21               Glendale  118.48  Queens
22                 Hollis   97.79  Queens
23             Holliswood  185.50  Queens
24           Howard Beach  167.17  Queens
25        Jackson Heights   99.87  Queens
26                Jamaica  127.36  Queens
27        Jamaica Estates  105.61  Queens
28          Jamaica Hills  131.60  Queens
29            Kew Gardens  121.37  Queens
30      Kew Gardens Hills  146.09  Queens
31              Laurelton  110.44  Queens
32            Little Neck   27.00  Queens
33       Long Island City  255.83  Queens
34                Maspeth  101.86  Queens
35         Middle Village  154.48  Queens
36               Neponsit  295.00  Queens
37             Ozone Park  111.38  Queens
38         Queens Village  153.40  Queens
39              Rego Park  119.41  Queens
40          Richmond Hill  115.17  Queens
41              Ridgewood  121.75  Queens
42         Rockaway Beach  138.47  Queens
43               Rosedale  180.63  Queens
44       South Ozone Park  172.08  Queens
45    Springfield Gardens  133.20  Queens
46             St. Albans  121.76  Queens
47              Sunnyside  100.03  Queens
48             Whitestone  338.07  Queens
49              Woodhaven   97.71  Queens
50               Woodside   72.23  Queens

In [22]:
#Find room_type freq by neighborhood:
grouped_qu = queens_listings.groupby(['neighbourhood_cleansed', 'room_type']).size().reset_index(name='count')

roomtype_nbhd_queens = grouped_qu.pivot(index='neighbourhood_cleansed', columns='room_type', values='count').fillna(0)

roomtype_nbhd_queens.head()

room_type               Entire home/apt  Hotel room  Private room  Shared room
neighbourhood_cleansed
Arverne                            52.0         0.0          28.0          0.0
Astoria                           199.0         0.0         304.0          8.0
Bay Terrace                         3.0         0.0           2.0          0.0
Bayside                            27.0         0.0          12.0          5.0
Bayswater                           5.0         0.0           8.0          0.0

### Brooklyn Aggregates

In [23]:
brooklyn_listings = reduced_listings[listings_df["neighbourhood_group_cleansed"] == "Brooklyn"]
brooklyn_listings.head()

,name,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,room_type,amenities,price,number_of_reviews,review_scores_rating
1,Rental unit in Brooklyn · ★4.52 · 1 bedroom · ...,Bedford-Stuyvesant,Brooklyn,40.685350,-73.955120,Private room,"[Air conditioning, Wifi, Kitchen, Heating]",66.0,50,4.52
2,Rental unit in Brooklyn · ★4.58 · 2 bedrooms ·...,Williamsburg,Brooklyn,40.709350,-73.953420,Entire home/apt,"[Cooking basics, Microwave, Extra pillows and ...",81.0,191,4.58
5,Home in Brooklyn · ★4.88 · 1 bedroom · 2 beds ...,Fort Greene,Brooklyn,40.691940,-73.973890,Private room,"[Outdoor dining area, Long term stays allowed,...",205.0,355,4.88
6,Loft in Brooklyn · ★4.91 · 1 bedroom · 1 bed ·...,Williamsburg,Brooklyn,40.712480,-73.958810,Private room,"[Air conditioning, Iron, Heating, Essentials, ...",95.0,13,4.91
7,Place to stay in Brooklyn · ★4.90 · 1 bed · 1 ...,Williamsburg,Brooklyn,40.718807,-73.956177,Entire home/apt,"[Long term stays allowed, Stainless steel sing...",350.0,12,4.90

In [24]:
# Group by neighborhood, find average price
avg_price_nbhd_brooklyn = brooklyn_listings.groupby(["neighbourhood_cleansed"])["price"].mean()

avg_price_nbhd_brooklyn = avg_price_nbhd_brooklyn.round(2).reset_index()

avg_price_nbhd_brooklyn["borough"] = "Brooklyn"

avg_price_nbhd_brooklyn

       neighbourhood_cleansed   price   borough
0                  Bath Beach  167.14  Brooklyn
1                   Bay Ridge  107.56  Brooklyn
2          Bedford-Stuyvesant  136.80  Brooklyn
3                 Bensonhurst  103.93  Brooklyn
4                Bergen Beach  240.22  Brooklyn
5                 Boerum Hill  230.23  Brooklyn
6                Borough Park   86.62  Brooklyn
7              Brighton Beach  152.70  Brooklyn
8            Brooklyn Heights  207.34  Brooklyn
9                 Brownsville  137.92  Brooklyn
10                   Bushwick  111.88  Brooklyn
11                   Canarsie  161.96  Brooklyn
12            Carroll Gardens  230.37  Brooklyn
13               Clinton Hill  181.76  Brooklyn
14                Cobble Hill  209.98  Brooklyn
15                Columbia St  191.39  Brooklyn
16               Coney Island  117.53  Brooklyn
17              Crown Heights  153.11  Brooklyn
18              Cypress Hills  101.70  Brooklyn
19                      DUMBO  303.05  Brooklyn
20          Downtown Brooklyn  274.15  Brooklyn
21              Dyker Heights  100.56  Brooklyn
22              East Flatbush  129.65  Brooklyn
23              East New York  133.40  Brooklyn
24                   Flatbush  142.78  Brooklyn
25                  Flatlands  109.21  Brooklyn
26                Fort Greene  213.06  Brooklyn
27              Fort Hamilton  114.87  Brooklyn
28            Gerritsen Beach  140.25  Brooklyn
29                    Gowanus  228.01  Brooklyn
30                  Gravesend  112.46  Brooklyn
31                 Greenpoint  213.49  Brooklyn
32                 Kensington  131.67  Brooklyn
33            Manhattan Beach  168.38  Brooklyn
34                    Midwood  101.17  Brooklyn
35                 Mill Basin  185.33  Brooklyn
36                  Navy Yard  102.00  Brooklyn
37                 Park Slope  240.68  Brooklyn
38           Prospect Heights  210.05  Brooklyn
39  Prospect-Lefferts Gardens  131.93  Brooklyn
40                   Red Hook  180.51  Brooklyn
41                   Sea Gate  197.58  Brooklyn
42             Sheepshead Bay  128.01  Brooklyn
43                South Slope  184.32  Brooklyn
44                Sunset Park  129.35  Brooklyn
45               Vinegar Hill  219.12  Brooklyn
46               Williamsburg  170.48  Brooklyn
47            Windsor Terrace  162.06  Brooklyn

In [25]:
#Find room_type freq by neighborhood:
grouped_bro = brooklyn_listings.groupby(['neighbourhood_cleansed', 'room_type']).size().reset_index(name='count')

roomtype_nbhd_brooklyn = grouped_qu.pivot(index='neighbourhood_cleansed', columns='room_type', values='count').fillna(0)

roomtype_nbhd_brooklyn.head()

room_type               Entire home/apt  Hotel room  Private room  Shared room
neighbourhood_cleansed
Arverne                            52.0         0.0          28.0          0.0
Astoria                           199.0         0.0         304.0          8.0
Bay Terrace                         3.0         0.0           2.0          0.0
Bayside                            27.0         0.0          12.0          5.0
Bayswater                           5.0         0.0           8.0          0.0

### Staten Island Aggregates

In [31]:
staten_island_listings = reduced_listings[listings_df["neighbourhood_group_cleansed"] == "Staten Island"]
staten_island_listings.tail()

,name,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,room_type,amenities,price,number_of_reviews,review_scores_rating
27232,Home in Staten Island · ★4.82 · 2 bedrooms · 4...,Castleton Corners,Staten Island,40.625570,-74.130790,Private room,"[Outdoor dining area, Long term stays allowed,...",282.0,10,4.82
27236,Rental unit in Staten Island · 1 bedroom · 1 b...,Arrochar,Staten Island,40.597949,-74.081085,Entire home/apt,"[Fire extinguisher, Air conditioning, Outdoor ...",100.0,1,5.00
27424,Home in Staten Island · ★4.67 · 1 bedroom · 1 ...,Mariners Harbor,Staten Island,40.631306,-74.159724,Private room,"[Long term stays allowed, Backyard, Cooking ba...",95.0,6,4.67
27482,Home in Staten Island · 2 bedrooms · 2 beds · ...,"Bay Terrace, Staten Island",Staten Island,40.563230,-74.144842,Entire home/apt,"[Long term stays allowed, Cooking basics, Pets...",171.0,1,5.00
27642,Rental unit in Staten Island · ★4.33 · 2 bedro...,St. George,Staten Island,40.642550,-74.083744,Entire home/apt,"[Air conditioning, Lockbox, Wifi, Self check-i...",95.0,6,4.33

In [27]:
# Group by neighborhood, find average price
avg_price_nbhd_staten_island = staten_island_listings.groupby(["neighbourhood_cleansed"])["price"].mean()

avg_price_nbhd_staten_island = avg_price_nbhd_staten_island.round(2).reset_index()

avg_price_nbhd_staten_island["borough"] = "Staten Island"

avg_price_nbhd_staten_island

        neighbourhood_cleansed   price        borough
0                Arden Heights  140.50  Staten Island
1                     Arrochar  128.09  Staten Island
2   Bay Terrace, Staten Island  171.00  Staten Island
3                  Bull's Head  118.86  Staten Island
4            Castleton Corners  160.80  Staten Island
5       Chelsea, Staten Island   70.00  Staten Island
6                      Clifton  139.50  Staten Island
7                      Concord  108.71  Staten Island
8                 Dongan Hills  142.50  Staten Island
9                  Eltingville  131.67  Staten Island
10                Emerson Hill  126.00  Staten Island
11                Graniteville   77.00  Staten Island
12                  Grant City   63.62  Staten Island
13                 Great Kills  101.50  Staten Island
14                 Grymes Hill  200.00  Staten Island
15                Howland Hook  173.00  Staten Island
16                    Huguenot   90.00  Staten Island
17             Lighthouse Hill  250.00  Staten Island
18             Mariners Harbor   94.45  Staten Island
19               Midland Beach  152.43  Staten Island
20                New Brighton   95.00  Staten Island
21              New Dorp Beach  108.86  Staten Island
22             New Springville  176.00  Staten Island
23                     Oakwood  124.00  Staten Island
24               Port Richmond   77.50  Staten Island
25                Prince's Bay  115.33  Staten Island
26               Randall Manor   95.00  Staten Island
27                Richmondtown   84.00  Staten Island
28                    Rosebank  106.83  Staten Island
29                   Rossville  172.50  Staten Island
30                 Shore Acres  121.40  Staten Island
31                 Silver Lake  104.00  Staten Island
32                 South Beach   80.67  Staten Island
33                  St. George  128.97  Staten Island
34                   Stapleton  149.43  Staten Island
35                   Todt Hill  345.00  Staten Island
36               Tompkinsville  137.34  Staten Island
37                 Tottenville  282.50  Staten Island
38               West Brighton   75.90  Staten Island
39                 Westerleigh  153.00  Staten Island
40                 Willowbrook  175.00  Staten Island
41                     Woodrow  143.75  Staten Island

In [28]:
#Find room_type freq by neighborhood:
grouped_sti = staten_island_listings.groupby(['neighbourhood_cleansed', 'room_type']).size().reset_index(name='count')

roomtype_nbhd_statenisland = grouped_sti.pivot(index='neighbourhood_cleansed', columns='room_type', values='count').fillna(0)

roomtype_nbhd_statenisland.head()

room_type                   Entire home/apt  Private room  Shared room
neighbourhood_cleansed
Arden Heights                           4.0           0.0          0.0
Arrochar                                8.0           3.0          0.0
Bay Terrace, Staten Island              1.0           0.0          0.0
Bull's Head                             3.0           4.0          0.0
Castleton Corners                       4.0           1.0          0.0

## Combine all aggregates and export files

In [29]:
# Concatenate all average price by neighborhood
avg_price_nbhd_all = pd.concat([avg_price_nbhd_bronx,avg_price_nbhd_brooklyn,avg_price_nbhd_manhattan,avg_price_nbhd_queens,avg_price_nbhd_staten_island], axis=0)

# Reset index to save neighborhood name
avg_price_nbhd_all = avg_price_nbhd_all.rename(columns={"neighbourhood_cleansed": "neighbourhood"})

avg_price_nbhd_all.to_json("data/avg_price_nbhd_all.json", orient="records")

avg_price_nbhd_all

    neighbourhood   price        borough
0        Allerton  101.76          Bronx
1      Baychester   99.20          Bronx
2         Belmont  104.35          Bronx
3       Bronxdale   72.88          Bronx
4     Castle Hill  123.20          Bronx
..            ...     ...            ...
37    Tottenville  282.50  Staten Island
38  West Brighton   75.90  Staten Island
39    Westerleigh  153.00  Staten Island
40    Willowbrook  175.00  Staten Island
41        Woodrow  143.75  Staten Island

[222 rows x 3 columns]